body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.658823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10419 {
  position:absolute;
  left:42px;
  top:34px;
  width:360px;
  height:620px;
}
#u10420 {
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:70px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10421 {
  position:absolute;
  left:42px;
  top:50px;
  width:360px;
  height:120px;
}
#u10422 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10423 {
  position:absolute;
  left:42px;
  top:616px;
  width:121px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10424 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u10425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10425 {
  position:absolute;
  left:162px;
  top:616px;
  width:121px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u10426 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u10427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:38px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10427 {
  position:absolute;
  left:281px;
  top:616px;
  width:121px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10428 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  word-wrap:break-word;
}
#u10429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10429 {
  position:absolute;
  left:50px;
  top:60px;
  width:20px;
  height:20px;
}
#u10430 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:90px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10431 {
  position:absolute;
  left:295px;
  top:60px;
  width:93px;
  height:26px;
}
#u10432 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u10433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10433 {
  position:absolute;
  left:204px;
  top:55px;
  width:37px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u10434 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10435 {
  position:absolute;
  left:315px;
  top:66px;
  width:15px;
  height:15px;
}
#u10436 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10437 {
  position:absolute;
  left:42px;
  top:34px;
  width:360px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u10438 {
  position:absolute;
  left:2px;
  top:-1px;
  width:356px;
  word-wrap:break-word;
}
#u10439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10439 {
  position:absolute;
  left:42px;
  top:93px;
  width:68px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10440 {
  position:absolute;
  left:2px;
  top:-2px;
  width:64px;
  word-wrap:break-word;
}
#u10441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10441 {
  position:absolute;
  left:104px;
  top:93px;
  width:40px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10442 {
  position:absolute;
  left:2px;
  top:-2px;
  width:36px;
  word-wrap:break-word;
}
#u10443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10443 {
  position:absolute;
  left:143px;
  top:91px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10444 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u10445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10445 {
  position:absolute;
  left:204px;
  top:91px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10446 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u10447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10447 {
  position:absolute;
  left:270px;
  top:91px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10448 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u10449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10449 {
  position:absolute;
  left:331px;
  top:91px;
  width:57px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10450 {
  position:absolute;
  left:2px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u10451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10451 {
  position:absolute;
  left:52px;
  top:117px;
  width:340px;
  height:53px;
}
#u10452 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10453 {
  position:absolute;
  left:63px;
  top:134px;
  width:107px;
  height:20px;
}
#u10454 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u10455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10455 {
  position:absolute;
  left:281px;
  top:127px;
  width:99px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10456 {
  position:absolute;
  left:2px;
  top:8px;
  width:95px;
  word-wrap:break-word;
}
#u10457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10457 {
  position:absolute;
  left:57px;
  top:173px;
  width:71px;
  height:20px;
}
#u10458 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:61px;
}
#u10459 {
  position:absolute;
  left:54px;
  top:400px;
  width:336px;
  height:60px;
}
#u10460 {
  position:absolute;
  left:2px;
  top:21px;
  width:332px;
  word-wrap:break-word;
}
#u10461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:61px;
}
#u10461 {
  position:absolute;
  left:54px;
  top:470px;
  width:336px;
  height:60px;
}
#u10462 {
  position:absolute;
  left:2px;
  top:21px;
  width:332px;
  word-wrap:break-word;
}
#u10463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10464 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:191px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10465 {
  position:absolute;
  left:56px;
  top:197px;
  width:336px;
  height:191px;
}
#u10466 {
  position:absolute;
  left:2px;
  top:88px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u10467 {
  position:absolute;
  left:67px;
  top:203px;
  width:40px;
  height:40px;
}
#u10468 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10469 {
  position:absolute;
  left:114px;
  top:206px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10470 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u10471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u10471 {
  position:absolute;
  left:191px;
  top:215px;
  width:75px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u10472 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u10473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10473 {
  position:absolute;
  left:299px;
  top:209px;
  width:85px;
  height:28px;
  font-size:16px;
}
#u10474 {
  position:absolute;
  left:2px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
#u10475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10475 {
  position:absolute;
  left:88px;
  top:272px;
  width:66px;
  height:20px;
}
#u10476 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u10477 {
  position:absolute;
  left:310px;
  top:257px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10478 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u10479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u10479 {
  position:absolute;
  left:56px;
  top:321px;
  width:336px;
  height:1px;
}
#u10480 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10481 {
  position:absolute;
  left:88px;
  top:347px;
  width:66px;
  height:20px;
}
#u10482 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u10483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u10483 {
  position:absolute;
  left:310px;
  top:332px;
  width:50px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10484 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u10485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0099FF;
}
#u10485 {
  position:absolute;
  left:114px;
  top:226px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#0099FF;
}
#u10486 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u10487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:61px;
}
#u10487 {
  position:absolute;
  left:55px;
  top:540px;
  width:336px;
  height:60px;
}
#u10488 {
  position:absolute;
  left:2px;
  top:21px;
  width:332px;
  word-wrap:break-word;
}
