body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  position:absolute;
  left:30px;
  top:30px;
  width:1020px;
  height:420px;
}
#u6715 {
  position:absolute;
  left:2px;
  top:202px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6716 {
  position:absolute;
  left:30px;
  top:30px;
  width:1020px;
  height:40px;
}
#u6717 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6718 {
  position:absolute;
  left:50px;
  top:40px;
  width:113px;
  height:20px;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6720 {
  position:absolute;
  left:50px;
  top:80px;
  width:140px;
  height:22px;
}
#u6720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6720_input:disabled {
  color:grayText;
}
#u6721 {
  position:absolute;
  left:210px;
  top:80px;
  width:70px;
  height:22px;
}
#u6721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6721_input:disabled {
  color:grayText;
}
#u6722 {
  position:absolute;
  left:300px;
  top:80px;
  width:70px;
  height:22px;
}
#u6722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6722_input:disabled {
  color:grayText;
}
#u6723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6723 {
  position:absolute;
  left:30px;
  top:122px;
  width:1020px;
  height:40px;
}
#u6724 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6725 {
  position:absolute;
  left:50px;
  top:172px;
  width:140px;
  height:22px;
}
#u6725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6725_input:disabled {
  color:grayText;
}
#u6726 {
  position:absolute;
  left:210px;
  top:172px;
  width:70px;
  height:22px;
}
#u6726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6726_input:disabled {
  color:grayText;
}
#u6727 {
  position:absolute;
  left:300px;
  top:172px;
  width:70px;
  height:22px;
}
#u6727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6727_input:disabled {
  color:grayText;
}
#u6728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6728 {
  position:absolute;
  left:50px;
  top:132px;
  width:113px;
  height:20px;
}
#u6729 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6730 {
  position:absolute;
  left:520px;
  top:81px;
  width:85px;
  height:20px;
}
#u6731 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6732 {
  position:absolute;
  left:745px;
  top:81px;
  width:85px;
  height:20px;
}
#u6733 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6734 {
  position:absolute;
  left:600px;
  top:76px;
  width:125px;
  height:25px;
}
#u6734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6735 {
  position:absolute;
  left:830px;
  top:79px;
  width:180px;
  height:25px;
}
#u6735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6736 {
  position:absolute;
  left:520px;
  top:177px;
  width:85px;
  height:20px;
}
#u6737 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6738 {
  position:absolute;
  left:745px;
  top:177px;
  width:85px;
  height:20px;
}
#u6739 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6740 {
  position:absolute;
  left:600px;
  top:172px;
  width:125px;
  height:25px;
}
#u6740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6741 {
  position:absolute;
  left:830px;
  top:175px;
  width:180px;
  height:25px;
}
#u6741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6742 {
  position:absolute;
  left:30px;
  top:214px;
  width:1020px;
  height:40px;
}
#u6743 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6744 {
  position:absolute;
  left:50px;
  top:224px;
  width:155px;
  height:20px;
}
#u6745 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6746 {
  position:absolute;
  left:50px;
  top:287px;
  width:85px;
  height:20px;
}
#u6747 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6748 {
  position:absolute;
  left:275px;
  top:287px;
  width:85px;
  height:20px;
}
#u6749 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6750 {
  position:absolute;
  left:130px;
  top:282px;
  width:125px;
  height:25px;
}
#u6750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6751 {
  position:absolute;
  left:360px;
  top:285px;
  width:180px;
  height:25px;
}
#u6751_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6752 {
  position:absolute;
  left:390px;
  top:76px;
  width:70px;
  height:31px;
}
#u6753 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u6754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6754 {
  position:absolute;
  left:390px;
  top:168px;
  width:70px;
  height:31px;
}
#u6755 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
