body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4807 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:268px;
}
#u4808 {
  position:absolute;
  left:2px;
  top:126px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4809 {
  position:absolute;
  left:37px;
  top:29px;
  width:49px;
  height:25px;
}
#u4809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4810 {
  position:absolute;
  left:104px;
  top:29px;
  width:64px;
  height:25px;
}
#u4810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4811 {
  position:absolute;
  left:178px;
  top:30px;
  width:53px;
  height:22px;
}
#u4811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4811_input:disabled {
  color:grayText;
}
#u4812 {
  position:absolute;
  left:241px;
  top:30px;
  width:60px;
  height:25px;
}
#u4812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u4813 {
  position:absolute;
  left:311px;
  top:41px;
  width:14px;
  height:1px;
}
#u4814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4815 {
  position:absolute;
  left:335px;
  top:29px;
  width:60px;
  height:25px;
}
#u4815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4816 {
  position:absolute;
  left:411px;
  top:29px;
  width:65px;
  height:25px;
}
#u4816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4817 {
  position:absolute;
  left:496px;
  top:29px;
  width:56px;
  height:25px;
}
#u4817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4818 {
  position:absolute;
  left:569px;
  top:29px;
  width:65px;
  height:25px;
}
#u4818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4819 {
  position:absolute;
  left:644px;
  top:32px;
  width:77px;
  height:22px;
}
#u4819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4819_input:disabled {
  color:grayText;
}
#u4820 {
  position:absolute;
  left:740px;
  top:32px;
  width:82px;
  height:22px;
}
#u4820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4820_input:disabled {
  color:grayText;
}
#u4821 {
  position:absolute;
  left:841px;
  top:32px;
  width:114px;
  height:22px;
}
#u4821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4821_input:disabled {
  color:grayText;
}
#u4822 {
  position:absolute;
  left:37px;
  top:64px;
  width:69px;
  height:22px;
}
#u4822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4822_input:disabled {
  color:grayText;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4823 {
  position:absolute;
  left:125px;
  top:65px;
  width:55px;
  height:21px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4825 {
  position:absolute;
  left:201px;
  top:65px;
  width:80px;
  height:21px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u4827 {
  position:absolute;
  left:37px;
  top:115px;
  width:925px;
  height:105px;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u4828 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  word-wrap:break-word;
}
#u4830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u4830 {
  position:absolute;
  left:20px;
  top:0px;
  width:176px;
  height:30px;
}
#u4831 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u4832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u4832 {
  position:absolute;
  left:196px;
  top:0px;
  width:58px;
  height:30px;
}
#u4833 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u4834 {
  position:absolute;
  left:254px;
  top:0px;
  width:46px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4835 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u4836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u4836 {
  position:absolute;
  left:300px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4837 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u4838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u4838 {
  position:absolute;
  left:356px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4839 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4840 {
  position:absolute;
  left:412px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4841 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u4842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u4842 {
  position:absolute;
  left:532px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4843 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u4844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4844 {
  position:absolute;
  left:638px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4845 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4846 {
  position:absolute;
  left:726px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4847 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u4848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4848 {
  position:absolute;
  left:775px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4849 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u4850 {
  position:absolute;
  left:0px;
  top:30px;
  width:20px;
  height:30px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  word-wrap:break-word;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u4852 {
  position:absolute;
  left:20px;
  top:30px;
  width:176px;
  height:30px;
}
#u4853 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u4854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u4854 {
  position:absolute;
  left:196px;
  top:30px;
  width:58px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4855 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u4856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u4856 {
  position:absolute;
  left:254px;
  top:30px;
  width:46px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4857 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u4858 {
  position:absolute;
  left:300px;
  top:30px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4859 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u4860 {
  position:absolute;
  left:356px;
  top:30px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4861 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u4862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u4862 {
  position:absolute;
  left:412px;
  top:30px;
  width:120px;
  height:30px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u4864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u4864 {
  position:absolute;
  left:532px;
  top:30px;
  width:106px;
  height:30px;
}
#u4865 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u4866 {
  position:absolute;
  left:638px;
  top:30px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4867 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u4868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u4868 {
  position:absolute;
  left:726px;
  top:30px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4869 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u4870 {
  position:absolute;
  left:775px;
  top:30px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4871 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:40px;
}
#u4873 {
  position:absolute;
  left:2px;
  top:12px;
  width:16px;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u4874 {
  position:absolute;
  left:20px;
  top:60px;
  width:176px;
  height:40px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u4876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u4876 {
  position:absolute;
  left:196px;
  top:60px;
  width:58px;
  height:40px;
}
#u4877 {
  position:absolute;
  left:2px;
  top:11px;
  width:54px;
  word-wrap:break-word;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u4878 {
  position:absolute;
  left:254px;
  top:60px;
  width:46px;
  height:40px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u4880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u4880 {
  position:absolute;
  left:300px;
  top:60px;
  width:56px;
  height:40px;
}
#u4881 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u4882 {
  position:absolute;
  left:356px;
  top:60px;
  width:56px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4883 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  word-wrap:break-word;
}
#u4884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4884 {
  position:absolute;
  left:412px;
  top:60px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4885 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u4886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u4886 {
  position:absolute;
  left:532px;
  top:60px;
  width:106px;
  height:40px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u4888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u4888 {
  position:absolute;
  left:638px;
  top:60px;
  width:88px;
  height:40px;
}
#u4889 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u4890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u4890 {
  position:absolute;
  left:726px;
  top:60px;
  width:49px;
  height:40px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u4892 {
  position:absolute;
  left:775px;
  top:60px;
  width:145px;
  height:40px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4894 {
  position:absolute;
  left:810px;
  top:185px;
  width:40px;
  height:24px;
}
#u4895 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4896 {
  position:absolute;
  left:854px;
  top:185px;
  width:58px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4897 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u4898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4898 {
  position:absolute;
  left:916px;
  top:185px;
  width:40px;
  height:24px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4901 {
  position:absolute;
  left:388px;
  top:234px;
  width:10px;
  height:15px;
}
#u4902 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u4903 {
  position:absolute;
  left:590px;
  top:234px;
  width:10px;
  height:15px;
}
#u4904 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4905 {
  position:absolute;
  left:567px;
  top:236px;
  width:11px;
  height:11px;
}
#u4906 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u4907 {
  position:absolute;
  left:408px;
  top:236px;
  width:11px;
  height:11px;
}
#u4908 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u4909 {
  position:absolute;
  left:429px;
  top:236px;
  width:2px;
  height:13px;
}
#u4910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u4911 {
  position:absolute;
  left:556px;
  top:235px;
  width:2px;
  height:13px;
}
#u4912 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4913 {
  position:absolute;
  left:448px;
  top:232px;
  width:81px;
  height:20px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u4915 {
  position:absolute;
  left:650px;
  top:234px;
  width:10px;
  height:14px;
}
#u4916 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4917 {
  position:absolute;
  left:629px;
  top:233px;
  width:17px;
  height:16px;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
