body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8085 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:268px;
}
#u8086 {
  position:absolute;
  left:2px;
  top:126px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8087 {
  position:absolute;
  left:37px;
  top:29px;
  width:49px;
  height:25px;
}
#u8087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8088 {
  position:absolute;
  left:104px;
  top:29px;
  width:64px;
  height:25px;
}
#u8088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8089 {
  position:absolute;
  left:178px;
  top:30px;
  width:53px;
  height:22px;
}
#u8089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8089_input:disabled {
  color:grayText;
}
#u8090 {
  position:absolute;
  left:241px;
  top:30px;
  width:60px;
  height:25px;
}
#u8090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:2px;
}
#u8091 {
  position:absolute;
  left:311px;
  top:41px;
  width:14px;
  height:1px;
}
#u8092 {
  position:absolute;
  left:2px;
  top:-8px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8093 {
  position:absolute;
  left:335px;
  top:29px;
  width:60px;
  height:25px;
}
#u8093_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8094 {
  position:absolute;
  left:411px;
  top:29px;
  width:65px;
  height:25px;
}
#u8094_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8095 {
  position:absolute;
  left:496px;
  top:29px;
  width:56px;
  height:25px;
}
#u8095_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8096 {
  position:absolute;
  left:569px;
  top:29px;
  width:65px;
  height:25px;
}
#u8096_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8097 {
  position:absolute;
  left:644px;
  top:32px;
  width:77px;
  height:22px;
}
#u8097_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8097_input:disabled {
  color:grayText;
}
#u8098 {
  position:absolute;
  left:740px;
  top:32px;
  width:82px;
  height:22px;
}
#u8098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8098_input:disabled {
  color:grayText;
}
#u8099 {
  position:absolute;
  left:841px;
  top:32px;
  width:114px;
  height:22px;
}
#u8099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8099_input:disabled {
  color:grayText;
}
#u8100 {
  position:absolute;
  left:37px;
  top:64px;
  width:69px;
  height:22px;
}
#u8100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8100_input:disabled {
  color:grayText;
}
#u8101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8101 {
  position:absolute;
  left:125px;
  top:65px;
  width:55px;
  height:21px;
}
#u8102 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8103 {
  position:absolute;
  left:201px;
  top:65px;
  width:80px;
  height:21px;
}
#u8104 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u8105 {
  position:absolute;
  left:37px;
  top:115px;
  width:925px;
  height:105px;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u8106 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u8108 {
  position:absolute;
  left:20px;
  top:0px;
  width:176px;
  height:30px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u8110 {
  position:absolute;
  left:196px;
  top:0px;
  width:58px;
  height:30px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u8112 {
  position:absolute;
  left:254px;
  top:0px;
  width:46px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8113 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u8114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u8114 {
  position:absolute;
  left:300px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8115 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u8116 {
  position:absolute;
  left:356px;
  top:0px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8117 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u8118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8118 {
  position:absolute;
  left:412px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8119 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u8120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u8120 {
  position:absolute;
  left:532px;
  top:0px;
  width:106px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8121 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u8122 {
  position:absolute;
  left:638px;
  top:0px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8123 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u8124 {
  position:absolute;
  left:726px;
  top:0px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8125 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u8126 {
  position:absolute;
  left:775px;
  top:0px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8127 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u8128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u8128 {
  position:absolute;
  left:0px;
  top:30px;
  width:20px;
  height:30px;
}
#u8129 {
  position:absolute;
  left:2px;
  top:8px;
  width:16px;
  word-wrap:break-word;
}
#u8130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u8130 {
  position:absolute;
  left:20px;
  top:30px;
  width:176px;
  height:30px;
}
#u8131 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u8132 {
  position:absolute;
  left:196px;
  top:30px;
  width:58px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8133 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u8134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u8134 {
  position:absolute;
  left:254px;
  top:30px;
  width:46px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8135 {
  position:absolute;
  left:2px;
  top:6px;
  width:42px;
  word-wrap:break-word;
}
#u8136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u8136 {
  position:absolute;
  left:300px;
  top:30px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8137 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u8138 {
  position:absolute;
  left:356px;
  top:30px;
  width:56px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8139 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  word-wrap:break-word;
}
#u8140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8140 {
  position:absolute;
  left:412px;
  top:30px;
  width:120px;
  height:30px;
}
#u8141 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u8142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
}
#u8142 {
  position:absolute;
  left:532px;
  top:30px;
  width:106px;
  height:30px;
}
#u8143 {
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u8144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u8144 {
  position:absolute;
  left:638px;
  top:30px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8145 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u8146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:30px;
}
#u8146 {
  position:absolute;
  left:726px;
  top:30px;
  width:49px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8147 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u8148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u8148 {
  position:absolute;
  left:775px;
  top:30px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8149 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u8150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:40px;
}
#u8150 {
  position:absolute;
  left:0px;
  top:60px;
  width:20px;
  height:40px;
}
#u8151 {
  position:absolute;
  left:2px;
  top:12px;
  width:16px;
  word-wrap:break-word;
}
#u8152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u8152 {
  position:absolute;
  left:20px;
  top:60px;
  width:176px;
  height:40px;
}
#u8153 {
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u8154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u8154 {
  position:absolute;
  left:196px;
  top:60px;
  width:58px;
  height:40px;
}
#u8155 {
  position:absolute;
  left:2px;
  top:11px;
  width:54px;
  word-wrap:break-word;
}
#u8156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:40px;
}
#u8156 {
  position:absolute;
  left:254px;
  top:60px;
  width:46px;
  height:40px;
}
#u8157 {
  position:absolute;
  left:2px;
  top:12px;
  width:42px;
  word-wrap:break-word;
}
#u8158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u8158 {
  position:absolute;
  left:300px;
  top:60px;
  width:56px;
  height:40px;
}
#u8159 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  word-wrap:break-word;
}
#u8160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:40px;
}
#u8160 {
  position:absolute;
  left:356px;
  top:60px;
  width:56px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8161 {
  position:absolute;
  left:2px;
  top:11px;
  width:52px;
  word-wrap:break-word;
}
#u8162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u8162 {
  position:absolute;
  left:412px;
  top:60px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8163 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u8164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u8164 {
  position:absolute;
  left:532px;
  top:60px;
  width:106px;
  height:40px;
}
#u8165 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u8166 {
  position:absolute;
  left:638px;
  top:60px;
  width:88px;
  height:40px;
}
#u8167 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u8168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
}
#u8168 {
  position:absolute;
  left:726px;
  top:60px;
  width:49px;
  height:40px;
}
#u8169 {
  position:absolute;
  left:2px;
  top:12px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
}
#u8170 {
  position:absolute;
  left:775px;
  top:60px;
  width:145px;
  height:40px;
}
#u8171 {
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8172 {
  position:absolute;
  left:810px;
  top:185px;
  width:40px;
  height:24px;
}
#u8173 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u8174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8174 {
  position:absolute;
  left:854px;
  top:185px;
  width:58px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8175 {
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u8176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8176 {
  position:absolute;
  left:916px;
  top:185px;
  width:40px;
  height:24px;
}
#u8177 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u8178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8179 {
  position:absolute;
  left:388px;
  top:234px;
  width:10px;
  height:15px;
}
#u8180 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u8181 {
  position:absolute;
  left:590px;
  top:234px;
  width:10px;
  height:15px;
}
#u8182 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u8183 {
  position:absolute;
  left:567px;
  top:236px;
  width:11px;
  height:11px;
}
#u8184 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u8185 {
  position:absolute;
  left:408px;
  top:236px;
  width:11px;
  height:11px;
}
#u8186 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8187_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u8187 {
  position:absolute;
  left:429px;
  top:236px;
  width:2px;
  height:13px;
}
#u8188 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8189_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u8189 {
  position:absolute;
  left:556px;
  top:235px;
  width:2px;
  height:13px;
}
#u8190 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8191 {
  position:absolute;
  left:448px;
  top:232px;
  width:81px;
  height:20px;
}
#u8192 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u8193 {
  position:absolute;
  left:650px;
  top:234px;
  width:10px;
  height:14px;
}
#u8194 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8195 {
  position:absolute;
  left:629px;
  top:233px;
  width:17px;
  height:16px;
}
#u8196 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
