body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2362 {
  position:absolute;
  left:63px;
  top:22px;
  width:270px;
  height:200px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:92px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2364 {
  position:absolute;
  left:160px;
  top:31px;
  width:77px;
  height:29px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2366 {
  position:absolute;
  left:64px;
  top:169px;
  width:270px;
  height:1px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2368 {
  position:absolute;
  left:255px;
  top:180px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u2369 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u2370 {
  position:absolute;
  left:74px;
  top:60px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u2371 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2372 {
  position:absolute;
  left:123px;
  top:180px;
  width:41px;
  height:29px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:50px;
}
#u2374 {
  position:absolute;
  left:198px;
  top:173px;
  width:1px;
  height:49px;
}
#u2375 {
  position:absolute;
  left:2px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:63px;
  top:327px;
  width:270px;
  height:160px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2379 {
  position:absolute;
  left:160px;
  top:347px;
  width:77px;
  height:29px;
  text-align:center;
}
#u2380 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2381 {
  position:absolute;
  left:64px;
  top:431px;
  width:270px;
  height:1px;
}
#u2382 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2383 {
  position:absolute;
  left:255px;
  top:449px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u2384 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u2385 {
  position:absolute;
  left:84px;
  top:379px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u2386 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2387 {
  position:absolute;
  left:122px;
  top:449px;
  width:41px;
  height:29px;
  text-align:center;
}
#u2388 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u2389 {
  position:absolute;
  left:199px;
  top:432px;
  width:1px;
  height:55px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2391 {
  position:absolute;
  left:83px;
  top:116px;
  width:107px;
  height:20px;
}
#u2392 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2393 {
  position:absolute;
  left:195px;
  top:116px;
  width:43px;
  height:20px;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2395 {
  position:absolute;
  left:241px;
  top:115px;
  width:55px;
  height:25px;
}
#u2395_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2396 {
  position:absolute;
  left:300px;
  top:117px;
  width:15px;
  height:20px;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:114px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2398 {
  position:absolute;
  left:378px;
  top:71px;
  width:545px;
  height:114px;
}
#u2399 {
  position:absolute;
  left:10px;
  top:10px;
  width:525px;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2400 {
  position:absolute;
  left:156px;
  top:143px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
