body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9689 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u9690 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u9691 {
  position:absolute;
  left:180px;
  top:49px;
  width:77px;
  height:29px;
}
#u9692 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u9693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u9693 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u9694 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u9695 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u9696 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u9697 {
  position:absolute;
  left:104px;
  top:82px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u9698 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u9699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u9699 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u9700 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u9701 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u9702 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9703 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9704 {
  position:absolute;
  left:389px;
  top:30px;
  width:270px;
  height:160px;
}
#u9705 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u9706 {
  position:absolute;
  left:486px;
  top:50px;
  width:77px;
  height:29px;
  text-align:center;
}
#u9707 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u9708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u9708 {
  position:absolute;
  left:390px;
  top:134px;
  width:270px;
  height:1px;
}
#u9709 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u9710 {
  position:absolute;
  left:581px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u9711 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u9712 {
  position:absolute;
  left:410px;
  top:82px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u9713 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u9714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u9714 {
  position:absolute;
  left:448px;
  top:152px;
  width:41px;
  height:29px;
  text-align:center;
}
#u9715 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u9716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u9716 {
  position:absolute;
  left:525px;
  top:135px;
  width:1px;
  height:55px;
}
#u9717 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
