body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6229 {
  position:absolute;
  left:25px;
  top:18px;
  width:1026px;
  height:200px;
}
#u6230 {
  position:absolute;
  left:2px;
  top:92px;
  width:1022px;
  word-wrap:break-word;
}
#u6231 {
  position:absolute;
  left:41px;
  top:26px;
  width:64px;
  height:25px;
}
#u6231_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6232 {
  position:absolute;
  left:132px;
  top:28px;
  width:156px;
  height:22px;
}
#u6232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6232_input:disabled {
  color:grayText;
}
#u6233 {
  position:absolute;
  left:386px;
  top:30px;
  width:106px;
  height:22px;
}
#u6233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6233_input:disabled {
  color:grayText;
}
#u6234 {
  position:absolute;
  left:515px;
  top:27px;
  width:101px;
  height:25px;
}
#u6234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6235 {
  position:absolute;
  left:712px;
  top:26px;
  width:56px;
  height:25px;
}
#u6236 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
#u6237 {
  position:absolute;
  left:41px;
  top:75px;
  width:1000px;
  height:99px;
}
#u6238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u6238 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u6239 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u6240 {
  position:absolute;
  left:62px;
  top:0px;
  width:62px;
  height:30px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u6242 {
  position:absolute;
  left:124px;
  top:0px;
  width:62px;
  height:30px;
}
#u6243 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u6244 {
  position:absolute;
  left:186px;
  top:0px;
  width:69px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6245 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u6246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6246 {
  position:absolute;
  left:255px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6247 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u6248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u6248 {
  position:absolute;
  left:345px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6249 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u6250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u6250 {
  position:absolute;
  left:425px;
  top:0px;
  width:79px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6251 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u6252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u6252 {
  position:absolute;
  left:504px;
  top:0px;
  width:97px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6253 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u6254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u6254 {
  position:absolute;
  left:601px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6255 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u6256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u6256 {
  position:absolute;
  left:684px;
  top:0px;
  width:311px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6257 {
  position:absolute;
  left:2px;
  top:6px;
  width:307px;
  word-wrap:break-word;
}
#u6258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u6258 {
  position:absolute;
  left:0px;
  top:30px;
  width:62px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6259 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u6260 {
  position:absolute;
  left:62px;
  top:30px;
  width:62px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6261 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u6262 {
  position:absolute;
  left:124px;
  top:30px;
  width:62px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6263 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u6264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u6264 {
  position:absolute;
  left:186px;
  top:30px;
  width:69px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6265 {
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u6266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
}
#u6266 {
  position:absolute;
  left:255px;
  top:30px;
  width:90px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6267 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u6268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u6268 {
  position:absolute;
  left:345px;
  top:30px;
  width:80px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6269 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u6270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u6270 {
  position:absolute;
  left:425px;
  top:30px;
  width:79px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6271 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u6272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
}
#u6272 {
  position:absolute;
  left:504px;
  top:30px;
  width:97px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6273 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u6274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u6274 {
  position:absolute;
  left:601px;
  top:30px;
  width:83px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6275 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u6276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:29px;
}
#u6276 {
  position:absolute;
  left:684px;
  top:30px;
  width:311px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6277 {
  position:absolute;
  left:2px;
  top:6px;
  width:307px;
  word-wrap:break-word;
}
#u6278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6278 {
  position:absolute;
  left:0px;
  top:59px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6279 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u6280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6280 {
  position:absolute;
  left:62px;
  top:59px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6281 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u6282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6282 {
  position:absolute;
  left:124px;
  top:59px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6283 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u6284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u6284 {
  position:absolute;
  left:186px;
  top:59px;
  width:69px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6285 {
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u6286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u6286 {
  position:absolute;
  left:255px;
  top:59px;
  width:90px;
  height:35px;
}
#u6287 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u6288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u6288 {
  position:absolute;
  left:345px;
  top:59px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6289 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u6290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u6290 {
  position:absolute;
  left:425px;
  top:59px;
  width:79px;
  height:35px;
}
#u6291 {
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u6292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:35px;
}
#u6292 {
  position:absolute;
  left:504px;
  top:59px;
  width:97px;
  height:35px;
}
#u6293 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u6294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
}
#u6294 {
  position:absolute;
  left:601px;
  top:59px;
  width:83px;
  height:35px;
}
#u6295 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u6296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:35px;
}
#u6296 {
  position:absolute;
  left:684px;
  top:59px;
  width:311px;
  height:35px;
}
#u6297 {
  position:absolute;
  left:2px;
  top:10px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6298 {
  position:absolute;
  left:629px;
  top:29px;
  width:66px;
  height:22px;
}
#u6298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6298_input:disabled {
  color:grayText;
}
#u6299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6299 {
  position:absolute;
  left:735px;
  top:139px;
  width:49px;
  height:24px;
}
#u6300 {
  position:absolute;
  left:2px;
  top:3px;
  width:45px;
  word-wrap:break-word;
}
#u6301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6301 {
  position:absolute;
  left:794px;
  top:139px;
  width:70px;
  height:24px;
}
#u6302 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u6303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6303 {
  position:absolute;
  left:948px;
  top:139px;
  width:84px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6304 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u6305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u6306 {
  position:absolute;
  left:359px;
  top:182px;
  width:10px;
  height:15px;
}
#u6307 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u6308 {
  position:absolute;
  left:561px;
  top:182px;
  width:10px;
  height:15px;
}
#u6309 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6310 {
  position:absolute;
  left:538px;
  top:184px;
  width:11px;
  height:11px;
}
#u6311 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6312 {
  position:absolute;
  left:379px;
  top:184px;
  width:11px;
  height:11px;
}
#u6313 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6314_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u6314 {
  position:absolute;
  left:400px;
  top:184px;
  width:2px;
  height:13px;
}
#u6315 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6316_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u6316 {
  position:absolute;
  left:527px;
  top:183px;
  width:2px;
  height:13px;
}
#u6317 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6318 {
  position:absolute;
  left:419px;
  top:180px;
  width:81px;
  height:20px;
}
#u6319 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u6320 {
  position:absolute;
  left:621px;
  top:182px;
  width:10px;
  height:14px;
}
#u6321 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6322 {
  position:absolute;
  left:600px;
  top:181px;
  width:17px;
  height:16px;
}
#u6323 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6324_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6324 {
  position:absolute;
  left:92px;
  top:12px;
  width:21px;
  height:28px;
}
#u6325 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6326_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6326 {
  position:absolute;
  left:261px;
  top:12px;
  width:21px;
  height:28px;
}
#u6327 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6328_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6328 {
  position:absolute;
  left:456px;
  top:12px;
  width:21px;
  height:28px;
}
#u6329 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6330_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6330 {
  position:absolute;
  left:595px;
  top:12px;
  width:21px;
  height:28px;
}
#u6331 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6332_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6332 {
  position:absolute;
  left:666px;
  top:12px;
  width:21px;
  height:28px;
}
#u6333 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6334_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6334 {
  position:absolute;
  left:747px;
  top:6px;
  width:21px;
  height:28px;
}
#u6335 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6336_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6336 {
  position:absolute;
  left:763px;
  top:120px;
  width:21px;
  height:28px;
}
#u6337 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6338_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6338 {
  position:absolute;
  left:843px;
  top:120px;
  width:21px;
  height:28px;
}
#u6339 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6340_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6340 {
  position:absolute;
  left:1006px;
  top:120px;
  width:21px;
  height:28px;
}
#u6341 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6342 {
  position:absolute;
  left:25px;
  top:238px;
  width:59px;
  height:38px;
}
#u6343 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6344 {
  position:absolute;
  left:84px;
  top:238px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6345 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6346 {
  position:absolute;
  left:25px;
  top:292px;
  width:59px;
  height:38px;
}
#u6347 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6348 {
  position:absolute;
  left:84px;
  top:292px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6349 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6350 {
  position:absolute;
  left:25px;
  top:340px;
  width:59px;
  height:38px;
}
#u6351 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6352 {
  position:absolute;
  left:84px;
  top:340px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6353 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6354 {
  position:absolute;
  left:25px;
  top:388px;
  width:59px;
  height:38px;
}
#u6355 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6356 {
  position:absolute;
  left:84px;
  top:388px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6357 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6358 {
  position:absolute;
  left:25px;
  top:436px;
  width:59px;
  height:38px;
}
#u6359 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6360 {
  position:absolute;
  left:84px;
  top:436px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6361 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6362 {
  position:absolute;
  left:25px;
  top:484px;
  width:59px;
  height:38px;
}
#u6363 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6364 {
  position:absolute;
  left:84px;
  top:484px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6365 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
#u6366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6366 {
  position:absolute;
  left:25px;
  top:530px;
  width:59px;
  height:38px;
}
#u6367 {
  position:absolute;
  left:10px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
#u6368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6368 {
  position:absolute;
  left:93px;
  top:578px;
  width:958px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6369 {
  position:absolute;
  left:10px;
  top:10px;
  width:938px;
  word-wrap:break-word;
}
#u6370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6370 {
  position:absolute;
  left:25px;
  top:578px;
  width:67px;
  height:38px;
}
#u6371 {
  position:absolute;
  left:10px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u6372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6372 {
  position:absolute;
  left:93px;
  top:625px;
  width:958px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6373 {
  position:absolute;
  left:10px;
  top:10px;
  width:938px;
  word-wrap:break-word;
}
#u6374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6374 {
  position:absolute;
  left:25px;
  top:625px;
  width:67px;
  height:38px;
}
#u6375 {
  position:absolute;
  left:10px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u6376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:58px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6376 {
  position:absolute;
  left:93px;
  top:672px;
  width:958px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6377 {
  position:absolute;
  left:10px;
  top:11px;
  width:938px;
  word-wrap:break-word;
}
#u6378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6378 {
  position:absolute;
  left:867px;
  top:26px;
  width:81px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6379 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u6380_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:38px;
}
#u6380 {
  position:absolute;
  left:927px;
  top:12px;
  width:21px;
  height:28px;
}
#u6381 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u6382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6382 {
  position:absolute;
  left:25px;
  top:672px;
  width:67px;
  height:58px;
}
#u6383 {
  position:absolute;
  left:10px;
  top:20px;
  width:47px;
  word-wrap:break-word;
}
#u6384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:967px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6384 {
  position:absolute;
  left:84px;
  top:530px;
  width:967px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6385 {
  position:absolute;
  left:10px;
  top:10px;
  width:947px;
  word-wrap:break-word;
}
