body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9247 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:425px;
}
#u9248 {
  position:absolute;
  left:2px;
  top:204px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9249 {
  position:absolute;
  left:36px;
  top:27px;
  width:58px;
  height:26px;
}
#u9250 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9251 {
  position:absolute;
  left:104px;
  top:27px;
  width:58px;
  height:26px;
}
#u9252 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9253 {
  position:absolute;
  left:172px;
  top:27px;
  width:58px;
  height:26px;
}
#u9254 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9255 {
  position:absolute;
  left:240px;
  top:27px;
  width:58px;
  height:26px;
}
#u9256 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9257 {
  position:absolute;
  left:36px;
  top:71px;
  width:105px;
  height:85px;
}
#u9257_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9258 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u9259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9259 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u9259_img.selected {
}
#u9259.selected {
}
#u9260 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9261 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u9262 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u9258_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9263 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u9264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9264 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9265 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u9266 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9267 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9268 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u9269 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u9270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9270 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9271 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u9272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9272 {
  position:absolute;
  left:210px;
  top:80px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9273 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
