body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9067 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:425px;
}
#u9068 {
  position:absolute;
  left:2px;
  top:204px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9069 {
  position:absolute;
  left:36px;
  top:27px;
  width:58px;
  height:26px;
}
#u9070 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9071 {
  position:absolute;
  left:104px;
  top:27px;
  width:58px;
  height:26px;
}
#u9072 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9073 {
  position:absolute;
  left:172px;
  top:27px;
  width:58px;
  height:26px;
}
#u9074 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9075 {
  position:absolute;
  left:240px;
  top:27px;
  width:58px;
  height:26px;
}
#u9076 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u9077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9077 {
  position:absolute;
  left:315px;
  top:27px;
  width:98px;
  height:26px;
}
#u9078 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u9079 {
  position:absolute;
  left:36px;
  top:71px;
  width:105px;
  height:85px;
}
#u9079_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9080 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u9081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u9081 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u9081_img.selected {
}
#u9081.selected {
}
#u9082 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9083 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u9084 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u9080_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9085 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u9086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9086 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9087 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u9088 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9089 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9090 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u9091 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u9092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9092 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u9093 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
