body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:425px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3590 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:425px;
}
#u3591 {
  position:absolute;
  left:2px;
  top:204px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3592 {
  position:absolute;
  left:36px;
  top:27px;
  width:58px;
  height:26px;
}
#u3593 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3594 {
  position:absolute;
  left:104px;
  top:27px;
  width:58px;
  height:26px;
}
#u3595 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3596 {
  position:absolute;
  left:172px;
  top:27px;
  width:58px;
  height:26px;
}
#u3597 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3598 {
  position:absolute;
  left:240px;
  top:27px;
  width:58px;
  height:26px;
}
#u3599 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3600_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3600 {
  position:absolute;
  left:315px;
  top:27px;
  width:98px;
  height:26px;
}
#u3601 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u3602 {
  position:absolute;
  left:36px;
  top:71px;
  width:105px;
  height:85px;
}
#u3602_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3603 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
}
#u3604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3604 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3604_img.selected {
}
#u3604.selected {
}
#u3605 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3606 {
  position:absolute;
  left:22px;
  top:0px;
  width:45px;
  height:20px;
}
#u3607 {
  position:absolute;
  left:3px;
  top:1px;
  width:40px;
  white-space:nowrap;
}
#u3603_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3608 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u3609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3609 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3610 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3611 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3612 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3613 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u3614 {
  position:absolute;
  left:20px;
  top:60px;
  width:80px;
  height:20px;
}
#u3615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3615 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u3616 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
