body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6822 {
  position:absolute;
  left:18px;
  top:13px;
  width:423px;
  height:366px;
}
#u6823 {
  position:absolute;
  left:2px;
  top:175px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6824 {
  position:absolute;
  left:18px;
  top:13px;
  width:423px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6825 {
  position:absolute;
  left:2px;
  top:10px;
  width:419px;
  word-wrap:break-word;
}
#u6826 {
  position:absolute;
  left:49px;
  top:74px;
  width:59px;
  height:18px;
}
#u6827 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6826_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6828 {
  position:absolute;
  left:131px;
  top:74px;
  width:59px;
  height:18px;
}
#u6829 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6828_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6830 {
  position:absolute;
  left:210px;
  top:74px;
  width:59px;
  height:18px;
}
#u6831 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6830_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6832 {
  position:absolute;
  left:289px;
  top:74px;
  width:59px;
  height:18px;
}
#u6833 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6832_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6834 {
  position:absolute;
  left:360px;
  top:74px;
  width:59px;
  height:18px;
}
#u6835 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u6834_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:213px;
}
#u6836 {
  position:absolute;
  left:49px;
  top:102px;
  width:370px;
  height:213px;
}
#u6837 {
  position:absolute;
  left:2px;
  top:98px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6838 {
  position:absolute;
  left:91px;
  top:325px;
  width:140px;
  height:40px;
}
#u6839 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6840 {
  position:absolute;
  left:231px;
  top:325px;
  width:140px;
  height:40px;
}
#u6841 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:366px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6842 {
  position:absolute;
  left:18px;
  top:13px;
  width:423px;
  height:366px;
}
#u6843 {
  position:absolute;
  left:2px;
  top:175px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6844 {
  position:absolute;
  left:18px;
  top:13px;
  width:423px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6845 {
  position:absolute;
  left:2px;
  top:10px;
  width:419px;
  word-wrap:break-word;
}
#u6846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:213px;
}
#u6846 {
  position:absolute;
  left:49px;
  top:102px;
  width:370px;
  height:213px;
}
#u6847 {
  position:absolute;
  left:2px;
  top:98px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6848 {
  position:absolute;
  left:91px;
  top:325px;
  width:140px;
  height:40px;
}
#u6849 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6850 {
  position:absolute;
  left:231px;
  top:325px;
  width:140px;
  height:40px;
}
#u6851 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u6852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6852 {
  position:absolute;
  left:190px;
  top:244px;
  width:71px;
  height:20px;
}
#u6853 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:65px;
}
#u6854 {
  position:absolute;
  left:339px;
  top:102px;
  width:80px;
  height:65px;
}
#u6855 {
  position:absolute;
  left:2px;
  top:24px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6856 {
  position:absolute;
  left:375px;
  top:114px;
  width:29px;
  height:20px;
}
#u6857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:356px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u6858 {
  position:absolute;
  left:478px;
  top:17px;
  width:534px;
  height:356px;
}
#u6859 {
  position:absolute;
  left:10px;
  top:10px;
  width:514px;
  word-wrap:break-word;
}
#u6860 {
  position:absolute;
  left:84px;
  top:70px;
  width:300px;
  height:22px;
}
#u6860_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6860_input:disabled {
  color:grayText;
}
