body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46 {
  position:absolute;
  left:59px;
  top:35px;
  width:756px;
  height:486px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u49 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u51 {
  position:absolute;
  left:500px;
  top:0px;
  width:251px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:247px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:451px;
}
#u53 {
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:451px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:2px;
  top:216px;
  width:246px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:451px;
}
#u55 {
  position:absolute;
  left:250px;
  top:30px;
  width:250px;
  height:451px;
}
#u56 {
  position:absolute;
  left:2px;
  top:136px;
  width:246px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:451px;
}
#u57 {
  position:absolute;
  left:500px;
  top:30px;
  width:251px;
  height:451px;
}
#u58 {
  position:absolute;
  left:2px;
  top:190px;
  width:247px;
  word-wrap:break-word;
}
