body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8060 {
  position:absolute;
  left:360px;
  top:231px;
  width:300px;
  height:229px;
}
#u8061 {
  position:absolute;
  left:2px;
  top:106px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8062 {
  position:absolute;
  left:360px;
  top:231px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8063 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u8064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8064 {
  position:absolute;
  left:398px;
  top:273px;
  width:199px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u8066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8066 {
  position:absolute;
  left:398px;
  top:313px;
  width:205px;
  height:20px;
}
#u8067 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u8068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u8068 {
  position:absolute;
  left:360px;
  top:421px;
  width:300px;
  height:1px;
}
#u8069 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u8070 {
  position:absolute;
  left:503px;
  top:421px;
  width:1px;
  height:39px;
}
#u8071 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8072 {
  position:absolute;
  left:376px;
  top:427px;
  width:115px;
  height:28px;
}
#u8073 {
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u8074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8074 {
  position:absolute;
  left:520px;
  top:427px;
  width:119px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8075 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u8076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8076 {
  position:absolute;
  left:398px;
  top:380px;
  width:85px;
  height:20px;
}
#u8077 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8078 {
  position:absolute;
  left:483px;
  top:380px;
  width:82px;
  height:20px;
}
#u8078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:582px;
  top:380px;
  width:15px;
  height:20px;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8081 {
  position:absolute;
  left:483px;
  top:273px;
  width:82px;
  height:25px;
}
#u8081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8082 {
  position:absolute;
  left:398px;
  top:349px;
  width:71px;
  height:20px;
}
#u8083 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8084 {
  position:absolute;
  left:483px;
  top:347px;
  width:114px;
  height:25px;
}
#u8084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8085 {
  position:absolute;
  left:750px;
  top:249px;
  width:220px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8086 {
  position:absolute;
  left:2px;
  top:24px;
  width:216px;
  word-wrap:break-word;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8087 {
  position:absolute;
  left:750px;
  top:335px;
  width:220px;
  height:70px;
}
#u8088 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u8089 {
  position:absolute;
  left:597px;
  top:283px;
  width:0px;
  height:0px;
}
#u8089_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u8089_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:20px;
}
#u8090 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8091 {
  position:absolute;
  left:469px;
  top:359px;
  width:0px;
  height:0px;
}
#u8091_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u8091_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:19px;
}
#u8091_seg2 {
  position:absolute;
  left:-4px;
  top:7px;
  width:285px;
  height:8px;
}
#u8091_seg3 {
  position:absolute;
  left:268px;
  top:1px;
  width:20px;
  height:20px;
}
#u8092 {
  position:absolute;
  left:85px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
