body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4796 {
  position:absolute;
  left:360px;
  top:231px;
  width:300px;
  height:229px;
}
#u4797 {
  position:absolute;
  left:2px;
  top:106px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4798 {
  position:absolute;
  left:360px;
  top:231px;
  width:300px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4799 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u4800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4800 {
  position:absolute;
  left:398px;
  top:273px;
  width:199px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4801 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u4802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4802 {
  position:absolute;
  left:398px;
  top:313px;
  width:205px;
  height:20px;
}
#u4803 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u4804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4804 {
  position:absolute;
  left:360px;
  top:421px;
  width:300px;
  height:1px;
}
#u4805 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u4806 {
  position:absolute;
  left:503px;
  top:421px;
  width:1px;
  height:39px;
}
#u4807 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4808 {
  position:absolute;
  left:376px;
  top:427px;
  width:115px;
  height:28px;
}
#u4809 {
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u4810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4810 {
  position:absolute;
  left:520px;
  top:427px;
  width:119px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4811 {
  position:absolute;
  left:2px;
  top:5px;
  width:115px;
  word-wrap:break-word;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4812 {
  position:absolute;
  left:398px;
  top:380px;
  width:85px;
  height:20px;
}
#u4813 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4814 {
  position:absolute;
  left:483px;
  top:380px;
  width:82px;
  height:20px;
}
#u4814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4815 {
  position:absolute;
  left:582px;
  top:380px;
  width:15px;
  height:20px;
}
#u4816 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4817 {
  position:absolute;
  left:483px;
  top:273px;
  width:82px;
  height:25px;
}
#u4817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4818 {
  position:absolute;
  left:398px;
  top:349px;
  width:71px;
  height:20px;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4820 {
  position:absolute;
  left:483px;
  top:347px;
  width:114px;
  height:25px;
}
#u4820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4821 {
  position:absolute;
  left:750px;
  top:249px;
  width:220px;
  height:67px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4822 {
  position:absolute;
  left:2px;
  top:24px;
  width:216px;
  word-wrap:break-word;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4823 {
  position:absolute;
  left:750px;
  top:335px;
  width:220px;
  height:70px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u4825 {
  position:absolute;
  left:597px;
  top:283px;
  width:0px;
  height:0px;
}
#u4825_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:157px;
  height:8px;
}
#u4825_seg1 {
  position:absolute;
  left:140px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4826 {
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4827 {
  position:absolute;
  left:469px;
  top:359px;
  width:0px;
  height:0px;
}
#u4827_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u4827_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:19px;
}
#u4827_seg2 {
  position:absolute;
  left:-4px;
  top:7px;
  width:285px;
  height:8px;
}
#u4827_seg3 {
  position:absolute;
  left:268px;
  top:1px;
  width:20px;
  height:20px;
}
#u4828 {
  position:absolute;
  left:85px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
