body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3808 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:232px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:108px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810 {
  position:absolute;
  left:34px;
  top:29px;
  width:47px;
  height:25px;
}
#u3810_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3811 {
  position:absolute;
  left:91px;
  top:29px;
  width:62px;
  height:25px;
}
#u3811_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3812 {
  position:absolute;
  left:163px;
  top:29px;
  width:52px;
  height:22px;
}
#u3812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3812_input:disabled {
  color:grayText;
}
#u3813 {
  position:absolute;
  left:225px;
  top:29px;
  width:60px;
  height:25px;
}
#u3813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3814 {
  position:absolute;
  left:289px;
  top:41px;
  width:17px;
  height:1px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816 {
  position:absolute;
  left:316px;
  top:29px;
  width:60px;
  height:25px;
}
#u3816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3817 {
  position:absolute;
  left:401px;
  top:29px;
  width:60px;
  height:25px;
}
#u3817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3818 {
  position:absolute;
  left:465px;
  top:41px;
  width:17px;
  height:1px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820 {
  position:absolute;
  left:492px;
  top:29px;
  width:60px;
  height:25px;
}
#u3820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3821 {
  position:absolute;
  left:570px;
  top:29px;
  width:61px;
  height:25px;
}
#u3821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3822 {
  position:absolute;
  left:641px;
  top:29px;
  width:52px;
  height:25px;
}
#u3822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3823 {
  position:absolute;
  left:703px;
  top:29px;
  width:63px;
  height:25px;
}
#u3823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3824 {
  position:absolute;
  left:776px;
  top:32px;
  width:76px;
  height:22px;
}
#u3824_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3824_input:disabled {
  color:grayText;
}
#u3825 {
  position:absolute;
  left:874px;
  top:32px;
  width:76px;
  height:22px;
}
#u3825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3825_input:disabled {
  color:grayText;
}
#u3826 {
  position:absolute;
  left:34px;
  top:61px;
  width:78px;
  height:22px;
}
#u3826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3826_input:disabled {
  color:grayText;
}
#u3827 {
  position:absolute;
  left:122px;
  top:61px;
  width:78px;
  height:22px;
}
#u3827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3827_input:disabled {
  color:grayText;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:210px;
  top:61px;
  width:75px;
  height:22px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3830 {
  position:absolute;
  left:295px;
  top:61px;
  width:75px;
  height:22px;
}
#u3831 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u3832 {
  position:absolute;
  left:34px;
  top:93px;
  width:922px;
  height:117px;
}
#u3833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u3834 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u3835 {
  position:absolute;
  left:179px;
  top:0px;
  width:57px;
  height:32px;
}
#u3836 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u3837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u3837 {
  position:absolute;
  left:236px;
  top:0px;
  width:43px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3838 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u3839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u3839 {
  position:absolute;
  left:279px;
  top:0px;
  width:59px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3840 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u3841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u3841 {
  position:absolute;
  left:338px;
  top:0px;
  width:66px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3842 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u3843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u3843 {
  position:absolute;
  left:404px;
  top:0px;
  width:112px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3844 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u3845 {
  position:absolute;
  left:516px;
  top:0px;
  width:106px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3846 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u3847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u3847 {
  position:absolute;
  left:622px;
  top:0px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3848 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u3849 {
  position:absolute;
  left:705px;
  top:0px;
  width:70px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3850 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u3851 {
  position:absolute;
  left:775px;
  top:0px;
  width:142px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3852 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u3853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u3853 {
  position:absolute;
  left:0px;
  top:32px;
  width:179px;
  height:40px;
}
#u3854 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u3855 {
  position:absolute;
  left:179px;
  top:32px;
  width:57px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3856 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u3857 {
  position:absolute;
  left:236px;
  top:32px;
  width:43px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3858 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  word-wrap:break-word;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u3859 {
  position:absolute;
  left:279px;
  top:32px;
  width:59px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3860 {
  position:absolute;
  left:2px;
  top:11px;
  width:55px;
  word-wrap:break-word;
}
#u3861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u3861 {
  position:absolute;
  left:338px;
  top:32px;
  width:66px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3862 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u3863 {
  position:absolute;
  left:404px;
  top:32px;
  width:112px;
  height:40px;
}
#u3864 {
  position:absolute;
  left:2px;
  top:11px;
  width:108px;
  word-wrap:break-word;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u3865 {
  position:absolute;
  left:516px;
  top:32px;
  width:106px;
  height:40px;
}
#u3866 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u3867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3867 {
  position:absolute;
  left:622px;
  top:32px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3868 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u3869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u3869 {
  position:absolute;
  left:705px;
  top:32px;
  width:70px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3870 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u3871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u3871 {
  position:absolute;
  left:775px;
  top:32px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3872 {
  position:absolute;
  left:2px;
  top:11px;
  width:138px;
  word-wrap:break-word;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u3873 {
  position:absolute;
  left:0px;
  top:72px;
  width:179px;
  height:40px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u3875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u3875 {
  position:absolute;
  left:179px;
  top:72px;
  width:57px;
  height:40px;
}
#u3876 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u3877 {
  position:absolute;
  left:236px;
  top:72px;
  width:43px;
  height:40px;
}
#u3878 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  word-wrap:break-word;
}
#u3879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u3879 {
  position:absolute;
  left:279px;
  top:72px;
  width:59px;
  height:40px;
}
#u3880 {
  position:absolute;
  left:2px;
  top:12px;
  width:55px;
  word-wrap:break-word;
}
#u3881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u3881 {
  position:absolute;
  left:338px;
  top:72px;
  width:66px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3882 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u3883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u3883 {
  position:absolute;
  left:404px;
  top:72px;
  width:112px;
  height:40px;
}
#u3884 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u3885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u3885 {
  position:absolute;
  left:516px;
  top:72px;
  width:106px;
  height:40px;
}
#u3886 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3887 {
  position:absolute;
  left:622px;
  top:72px;
  width:83px;
  height:40px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u3889 {
  position:absolute;
  left:705px;
  top:72px;
  width:70px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3890 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u3891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u3891 {
  position:absolute;
  left:775px;
  top:72px;
  width:142px;
  height:40px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3893 {
  position:absolute;
  left:811px;
  top:170px;
  width:41px;
  height:28px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3895 {
  position:absolute;
  left:856px;
  top:170px;
  width:48px;
  height:28px;
}
#u3896 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3897 {
  position:absolute;
  left:909px;
  top:170px;
  width:41px;
  height:28px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3900 {
  position:absolute;
  left:353px;
  top:216px;
  width:10px;
  height:15px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3902 {
  position:absolute;
  left:555px;
  top:216px;
  width:10px;
  height:15px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3904 {
  position:absolute;
  left:532px;
  top:218px;
  width:11px;
  height:11px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3906 {
  position:absolute;
  left:373px;
  top:218px;
  width:11px;
  height:11px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u3908 {
  position:absolute;
  left:394px;
  top:218px;
  width:2px;
  height:13px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u3910 {
  position:absolute;
  left:521px;
  top:217px;
  width:2px;
  height:13px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3912 {
  position:absolute;
  left:413px;
  top:214px;
  width:81px;
  height:20px;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u3914 {
  position:absolute;
  left:615px;
  top:216px;
  width:10px;
  height:14px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3916 {
  position:absolute;
  left:594px;
  top:215px;
  width:17px;
  height:16px;
}
#u3917 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
