body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2813 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:232px;
}
#u2814 {
  position:absolute;
  left:2px;
  top:108px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2815 {
  position:absolute;
  left:34px;
  top:29px;
  width:47px;
  height:25px;
}
#u2815_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2816 {
  position:absolute;
  left:91px;
  top:29px;
  width:62px;
  height:25px;
}
#u2816_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2817 {
  position:absolute;
  left:163px;
  top:29px;
  width:52px;
  height:22px;
}
#u2817_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2817_input:disabled {
  color:grayText;
}
#u2818 {
  position:absolute;
  left:225px;
  top:29px;
  width:60px;
  height:25px;
}
#u2818_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u2819 {
  position:absolute;
  left:289px;
  top:41px;
  width:17px;
  height:1px;
}
#u2820 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2821 {
  position:absolute;
  left:316px;
  top:29px;
  width:60px;
  height:25px;
}
#u2821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2822 {
  position:absolute;
  left:401px;
  top:29px;
  width:60px;
  height:25px;
}
#u2822_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u2823 {
  position:absolute;
  left:465px;
  top:41px;
  width:17px;
  height:1px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825 {
  position:absolute;
  left:492px;
  top:29px;
  width:60px;
  height:25px;
}
#u2825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2826 {
  position:absolute;
  left:570px;
  top:29px;
  width:61px;
  height:25px;
}
#u2826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2827 {
  position:absolute;
  left:641px;
  top:29px;
  width:52px;
  height:25px;
}
#u2827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2828 {
  position:absolute;
  left:703px;
  top:29px;
  width:63px;
  height:25px;
}
#u2828_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2829 {
  position:absolute;
  left:776px;
  top:32px;
  width:76px;
  height:22px;
}
#u2829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2829_input:disabled {
  color:grayText;
}
#u2830 {
  position:absolute;
  left:874px;
  top:32px;
  width:76px;
  height:22px;
}
#u2830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2830_input:disabled {
  color:grayText;
}
#u2831 {
  position:absolute;
  left:34px;
  top:61px;
  width:78px;
  height:22px;
}
#u2831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2831_input:disabled {
  color:grayText;
}
#u2832 {
  position:absolute;
  left:122px;
  top:61px;
  width:78px;
  height:22px;
}
#u2832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2832_input:disabled {
  color:grayText;
}
#u2833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2833 {
  position:absolute;
  left:210px;
  top:61px;
  width:75px;
  height:22px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2835 {
  position:absolute;
  left:295px;
  top:61px;
  width:75px;
  height:22px;
}
#u2836 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u2837 {
  position:absolute;
  left:34px;
  top:93px;
  width:922px;
  height:117px;
}
#u2838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u2838 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:32px;
}
#u2839 {
  position:absolute;
  left:2px;
  top:7px;
  width:175px;
  word-wrap:break-word;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u2840 {
  position:absolute;
  left:179px;
  top:0px;
  width:57px;
  height:32px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:7px;
  width:53px;
  word-wrap:break-word;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
}
#u2842 {
  position:absolute;
  left:236px;
  top:0px;
  width:43px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2843 {
  position:absolute;
  left:2px;
  top:7px;
  width:39px;
  word-wrap:break-word;
}
#u2844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u2844 {
  position:absolute;
  left:279px;
  top:0px;
  width:59px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2845 {
  position:absolute;
  left:2px;
  top:7px;
  width:55px;
  word-wrap:break-word;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u2846 {
  position:absolute;
  left:338px;
  top:0px;
  width:66px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2847 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u2848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:32px;
}
#u2848 {
  position:absolute;
  left:404px;
  top:0px;
  width:112px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2849 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
}
#u2850 {
  position:absolute;
  left:516px;
  top:0px;
  width:106px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2851 {
  position:absolute;
  left:2px;
  top:7px;
  width:102px;
  word-wrap:break-word;
}
#u2852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u2852 {
  position:absolute;
  left:622px;
  top:0px;
  width:83px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2853 {
  position:absolute;
  left:2px;
  top:7px;
  width:79px;
  word-wrap:break-word;
}
#u2854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:32px;
}
#u2854 {
  position:absolute;
  left:705px;
  top:0px;
  width:70px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2855 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u2856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:32px;
}
#u2856 {
  position:absolute;
  left:775px;
  top:0px;
  width:142px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2857 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u2858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u2858 {
  position:absolute;
  left:0px;
  top:32px;
  width:179px;
  height:40px;
}
#u2859 {
  position:absolute;
  left:2px;
  top:11px;
  width:175px;
  word-wrap:break-word;
}
#u2860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u2860 {
  position:absolute;
  left:179px;
  top:32px;
  width:57px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2861 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u2862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u2862 {
  position:absolute;
  left:236px;
  top:32px;
  width:43px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2863 {
  position:absolute;
  left:2px;
  top:11px;
  width:39px;
  word-wrap:break-word;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u2864 {
  position:absolute;
  left:279px;
  top:32px;
  width:59px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2865 {
  position:absolute;
  left:2px;
  top:11px;
  width:55px;
  word-wrap:break-word;
}
#u2866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u2866 {
  position:absolute;
  left:338px;
  top:32px;
  width:66px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2867 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u2868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u2868 {
  position:absolute;
  left:404px;
  top:32px;
  width:112px;
  height:40px;
}
#u2869 {
  position:absolute;
  left:2px;
  top:11px;
  width:108px;
  word-wrap:break-word;
}
#u2870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u2870 {
  position:absolute;
  left:516px;
  top:32px;
  width:106px;
  height:40px;
}
#u2871 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u2872 {
  position:absolute;
  left:622px;
  top:32px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2873 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u2874 {
  position:absolute;
  left:705px;
  top:32px;
  width:70px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2875 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u2876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u2876 {
  position:absolute;
  left:775px;
  top:32px;
  width:142px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2877 {
  position:absolute;
  left:2px;
  top:11px;
  width:138px;
  word-wrap:break-word;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
}
#u2878 {
  position:absolute;
  left:0px;
  top:72px;
  width:179px;
  height:40px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u2880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:40px;
}
#u2880 {
  position:absolute;
  left:179px;
  top:72px;
  width:57px;
  height:40px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:11px;
  width:53px;
  word-wrap:break-word;
}
#u2882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u2882 {
  position:absolute;
  left:236px;
  top:72px;
  width:43px;
  height:40px;
}
#u2883 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  word-wrap:break-word;
}
#u2884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:40px;
}
#u2884 {
  position:absolute;
  left:279px;
  top:72px;
  width:59px;
  height:40px;
}
#u2885 {
  position:absolute;
  left:2px;
  top:12px;
  width:55px;
  word-wrap:break-word;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:40px;
}
#u2886 {
  position:absolute;
  left:338px;
  top:72px;
  width:66px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2887 {
  position:absolute;
  left:2px;
  top:11px;
  width:62px;
  word-wrap:break-word;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u2888 {
  position:absolute;
  left:404px;
  top:72px;
  width:112px;
  height:40px;
}
#u2889 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  word-wrap:break-word;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u2890 {
  position:absolute;
  left:516px;
  top:72px;
  width:106px;
  height:40px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u2892 {
  position:absolute;
  left:622px;
  top:72px;
  width:83px;
  height:40px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:4px;
  width:79px;
  word-wrap:break-word;
}
#u2894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u2894 {
  position:absolute;
  left:705px;
  top:72px;
  width:70px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2895 {
  position:absolute;
  left:2px;
  top:11px;
  width:66px;
  word-wrap:break-word;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:40px;
}
#u2896 {
  position:absolute;
  left:775px;
  top:72px;
  width:142px;
  height:40px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  position:absolute;
  left:811px;
  top:170px;
  width:41px;
  height:28px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  position:absolute;
  left:856px;
  top:170px;
  width:48px;
  height:28px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:5px;
  width:44px;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  position:absolute;
  left:909px;
  top:170px;
  width:41px;
  height:28px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2905 {
  position:absolute;
  left:353px;
  top:216px;
  width:10px;
  height:15px;
}
#u2906 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u2907 {
  position:absolute;
  left:555px;
  top:216px;
  width:10px;
  height:15px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u2909 {
  position:absolute;
  left:532px;
  top:218px;
  width:11px;
  height:11px;
}
#u2910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u2911 {
  position:absolute;
  left:373px;
  top:218px;
  width:11px;
  height:11px;
}
#u2912 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u2913 {
  position:absolute;
  left:394px;
  top:218px;
  width:2px;
  height:13px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u2915 {
  position:absolute;
  left:521px;
  top:217px;
  width:2px;
  height:13px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2917 {
  position:absolute;
  left:413px;
  top:214px;
  width:81px;
  height:20px;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u2919 {
  position:absolute;
  left:615px;
  top:216px;
  width:10px;
  height:14px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2921 {
  position:absolute;
  left:594px;
  top:215px;
  width:17px;
  height:16px;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
