body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:306px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u10138 {
  position:absolute;
  left:34px;
  top:37px;
  width:10px;
  height:15px;
}
#u10139 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u10140 {
  position:absolute;
  left:236px;
  top:37px;
  width:10px;
  height:15px;
}
#u10141 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10142 {
  position:absolute;
  left:213px;
  top:39px;
  width:11px;
  height:11px;
}
#u10143 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u10144 {
  position:absolute;
  left:54px;
  top:39px;
  width:11px;
  height:11px;
}
#u10145 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10146_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u10146 {
  position:absolute;
  left:75px;
  top:39px;
  width:2px;
  height:13px;
}
#u10147 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10148_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u10148 {
  position:absolute;
  left:202px;
  top:38px;
  width:2px;
  height:13px;
}
#u10149 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10150 {
  position:absolute;
  left:94px;
  top:35px;
  width:81px;
  height:20px;
}
#u10151 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u10152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u10152 {
  position:absolute;
  left:296px;
  top:37px;
  width:10px;
  height:14px;
}
#u10153 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10154 {
  position:absolute;
  left:275px;
  top:36px;
  width:17px;
  height:16px;
}
#u10155 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
