body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.658823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9973 {
  position:absolute;
  left:42px;
  top:34px;
  width:360px;
  height:620px;
}
#u9974 {
  position:absolute;
  left:2px;
  top:302px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9975 {
  position:absolute;
  left:42px;
  top:34px;
  width:360px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9976 {
  position:absolute;
  left:2px;
  top:-1px;
  width:356px;
  word-wrap:break-word;
}
#u9977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9977 {
  position:absolute;
  left:198px;
  top:53px;
  width:49px;
  height:22px;
  font-size:16px;
}
#u9978 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u9979 {
  position:absolute;
  left:42px;
  top:80px;
  width:360px;
  height:1px;
}
#u9980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u9981 {
  position:absolute;
  left:42px;
  top:110px;
  width:360px;
  height:1px;
}
#u9982 {
  position:absolute;
  left:2px;
  top:-8px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9983 {
  position:absolute;
  left:52px;
  top:120px;
  width:340px;
  height:220px;
}
#u9983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:220px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#0099FF;
}
#u9984 {
  position:absolute;
  left:321px;
  top:345px;
  width:58px;
  height:16px;
  font-size:11px;
  color:#0099FF;
}
#u9985 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u9986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u9986 {
  position:absolute;
  left:172px;
  top:370px;
  width:100px;
  height:100px;
  font-family:'AppleColorEmoji', 'Apple Color Emoji';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u9987 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u9988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9988 {
  position:absolute;
  left:52px;
  top:370px;
  width:100px;
  height:100px;
}
#u9989 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9990 {
  position:absolute;
  left:52px;
  top:370px;
  width:20px;
  height:20px;
}
#u9991 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u9992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u9992 {
  position:absolute;
  left:57px;
  top:445px;
  width:30px;
  height:20px;
  font-size:11px;
}
#u9993 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u9994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9994 {
  position:absolute;
  left:178px;
  top:440px;
  width:89px;
  height:20px;
}
#u9995 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9996 {
  position:absolute;
  left:52px;
  top:480px;
  width:338px;
  height:40px;
}
#u9997 {
  position:absolute;
  left:2px;
  top:12px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9998 {
  position:absolute;
  left:61px;
  top:490px;
  width:20px;
  height:20px;
}
#u9999 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u10000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10000 {
  position:absolute;
  left:89px;
  top:490px;
  width:57px;
  height:20px;
}
#u10001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u10002 {
  position:absolute;
  left:196px;
  top:492px;
  width:185px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u10003 {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u10004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10004 {
  position:absolute;
  left:61px;
  top:540px;
  width:20px;
  height:20px;
}
#u10005 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u10006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10006 {
  position:absolute;
  left:89px;
  top:540px;
  width:57px;
  height:20px;
}
#u10007 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u10008 {
  position:absolute;
  left:232px;
  top:542px;
  width:149px;
  height:17px;
  font-size:12px;
  color:#BCBCBC;
}
#u10009 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u10010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:50px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10010 {
  position:absolute;
  left:57px;
  top:590px;
  width:333px;
  height:50px;
}
#u10011 {
  position:absolute;
  left:2px;
  top:16px;
  width:329px;
  word-wrap:break-word;
}
#u10012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u10012 {
  position:absolute;
  left:52px;
  top:53px;
  width:11px;
  height:20px;
}
#u10013 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
