body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:363px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2709 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2710 {
  position:absolute;
  left:92px;
  top:49px;
  width:270px;
  height:160px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2712 {
  position:absolute;
  left:189px;
  top:62px;
  width:77px;
  height:29px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2714 {
  position:absolute;
  left:93px;
  top:153px;
  width:270px;
  height:1px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2716 {
  position:absolute;
  left:284px;
  top:171px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u2717 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:67px;
}
#u2718 {
  position:absolute;
  left:121px;
  top:87px;
  width:215px;
  height:67px;
  color:#AEAEAE;
  text-align:center;
}
#u2719 {
  position:absolute;
  left:2px;
  top:2px;
  width:211px;
  white-space:nowrap;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2720 {
  position:absolute;
  left:151px;
  top:171px;
  width:41px;
  height:29px;
}
#u2721 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u2722 {
  position:absolute;
  left:228px;
  top:154px;
  width:1px;
  height:55px;
}
#u2723 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
