body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:880px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10598 {
  position:absolute;
  left:30px;
  top:30px;
  width:1190px;
  height:880px;
}
#u10599 {
  position:absolute;
  left:2px;
  top:432px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10600 {
  position:absolute;
  left:43px;
  top:48px;
  width:187px;
  height:22px;
}
#u10600_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10600_input:disabled {
  color:grayText;
}
#u10601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10601 {
  position:absolute;
  left:720px;
  top:47px;
  width:90px;
  height:25px;
}
#u10602 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u10603 {
  position:absolute;
  left:580px;
  top:47px;
  width:130px;
  height:25px;
}
#u10603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10603_input:disabled {
  color:grayText;
}
#u10604 {
  position:absolute;
  left:410px;
  top:47px;
  width:160px;
  height:25px;
}
#u10604_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10605 {
  position:absolute;
  left:43px;
  top:92px;
  width:1161px;
  height:103px;
}
#u10606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u10606 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u10607 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u10608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
}
#u10608 {
  position:absolute;
  left:107px;
  top:0px;
  width:78px;
  height:29px;
}
#u10609 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u10610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u10610 {
  position:absolute;
  left:185px;
  top:0px;
  width:82px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10611 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u10612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u10612 {
  position:absolute;
  left:267px;
  top:0px;
  width:93px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10613 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u10614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:29px;
}
#u10614 {
  position:absolute;
  left:360px;
  top:0px;
  width:143px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10615 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u10616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:29px;
}
#u10616 {
  position:absolute;
  left:503px;
  top:0px;
  width:233px;
  height:29px;
}
#u10617 {
  position:absolute;
  left:2px;
  top:6px;
  width:229px;
  word-wrap:break-word;
}
#u10618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u10618 {
  position:absolute;
  left:736px;
  top:0px;
  width:144px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10619 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u10620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:29px;
}
#u10620 {
  position:absolute;
  left:880px;
  top:0px;
  width:276px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10621 {
  position:absolute;
  left:2px;
  top:6px;
  width:272px;
  word-wrap:break-word;
}
#u10622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u10622 {
  position:absolute;
  left:0px;
  top:29px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10623 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u10624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u10624 {
  position:absolute;
  left:107px;
  top:29px;
  width:78px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10625 {
  position:absolute;
  left:2px;
  top:11px;
  width:74px;
  word-wrap:break-word;
}
#u10626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:40px;
}
#u10626 {
  position:absolute;
  left:185px;
  top:29px;
  width:82px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10627 {
  position:absolute;
  left:2px;
  top:12px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:40px;
}
#u10628 {
  position:absolute;
  left:267px;
  top:29px;
  width:93px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10629 {
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u10630 {
  position:absolute;
  left:360px;
  top:29px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10631 {
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:40px;
}
#u10632 {
  position:absolute;
  left:503px;
  top:29px;
  width:233px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10633 {
  position:absolute;
  left:2px;
  top:11px;
  width:229px;
  word-wrap:break-word;
}
#u10634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
}
#u10634 {
  position:absolute;
  left:736px;
  top:29px;
  width:144px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10635 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u10636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:40px;
}
#u10636 {
  position:absolute;
  left:880px;
  top:29px;
  width:276px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10637 {
  position:absolute;
  left:2px;
  top:11px;
  width:272px;
  word-wrap:break-word;
}
#u10638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:29px;
}
#u10638 {
  position:absolute;
  left:0px;
  top:69px;
  width:107px;
  height:29px;
}
#u10639 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u10640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
}
#u10640 {
  position:absolute;
  left:107px;
  top:69px;
  width:78px;
  height:29px;
}
#u10641 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u10642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u10642 {
  position:absolute;
  left:185px;
  top:69px;
  width:82px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10643 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u10644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:29px;
}
#u10644 {
  position:absolute;
  left:267px;
  top:69px;
  width:93px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10645 {
  position:absolute;
  left:2px;
  top:6px;
  width:89px;
  word-wrap:break-word;
}
#u10646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:29px;
}
#u10646 {
  position:absolute;
  left:360px;
  top:69px;
  width:143px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10647 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  word-wrap:break-word;
}
#u10648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:29px;
}
#u10648 {
  position:absolute;
  left:503px;
  top:69px;
  width:233px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10649 {
  position:absolute;
  left:2px;
  top:6px;
  width:229px;
  word-wrap:break-word;
}
#u10650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:29px;
}
#u10650 {
  position:absolute;
  left:736px;
  top:69px;
  width:144px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10651 {
  position:absolute;
  left:2px;
  top:6px;
  width:140px;
  word-wrap:break-word;
}
#u10652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:29px;
}
#u10652 {
  position:absolute;
  left:880px;
  top:69px;
  width:276px;
  height:29px;
}
#u10653 {
  position:absolute;
  left:2px;
  top:6px;
  width:272px;
  word-wrap:break-word;
}
#u10654 {
  position:absolute;
  left:240px;
  top:49px;
  width:80px;
  height:22px;
}
#u10654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10654_input:disabled {
  color:grayText;
}
#u10655 {
  position:absolute;
  left:330px;
  top:50px;
  width:70px;
  height:22px;
}
#u10655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10655_input:disabled {
  color:grayText;
}
#u10656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:178px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10657 {
  position:absolute;
  left:1240px;
  top:169px;
  width:360px;
  height:178px;
}
#u10658 {
  position:absolute;
  left:2px;
  top:81px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10659 {
  position:absolute;
  left:1253px;
  top:179px;
  width:71px;
  height:20px;
}
#u10660 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10661 {
  position:absolute;
  left:1270px;
  top:291px;
  width:140px;
  height:40px;
}
#u10662 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10663 {
  position:absolute;
  left:1410px;
  top:291px;
  width:140px;
  height:40px;
}
#u10664 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u10665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10665 {
  position:absolute;
  left:1260px;
  top:208px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10666 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10667 {
  position:absolute;
  left:1260px;
  top:248px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10668 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10669 {
  position:absolute;
  left:1340px;
  top:206px;
  width:230px;
  height:25px;
}
#u10669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10670 {
  position:absolute;
  left:1340px;
  top:246px;
  width:230px;
  height:25px;
}
#u10670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
