body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:283px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:134px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035 {
  position:absolute;
  left:49px;
  top:27px;
  width:58px;
  height:25px;
}
#u1035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1036 {
  position:absolute;
  left:125px;
  top:27px;
  width:91px;
  height:25px;
}
#u1036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:226px;
  top:27px;
  width:75px;
  height:25px;
}
#u1037_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1038 {
  position:absolute;
  left:448px;
  top:29px;
  width:121px;
  height:22px;
}
#u1038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1038_input:disabled {
  color:grayText;
}
#u1039 {
  position:absolute;
  left:590px;
  top:29px;
  width:114px;
  height:22px;
}
#u1039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1039_input:disabled {
  color:grayText;
}
#u1040 {
  position:absolute;
  left:311px;
  top:30px;
  width:121px;
  height:22px;
}
#u1040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1040_input:disabled {
  color:grayText;
}
#u1041 {
  position:absolute;
  left:729px;
  top:29px;
  width:63px;
  height:25px;
}
#u1041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u1042 {
  position:absolute;
  left:799px;
  top:40px;
  width:17px;
  height:1px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:826px;
  top:29px;
  width:63px;
  height:25px;
}
#u1044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1045 {
  position:absolute;
  left:49px;
  top:68px;
  width:130px;
  height:22px;
}
#u1045_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1045_input:disabled {
  color:grayText;
}
#u1046 {
  position:absolute;
  left:203px;
  top:68px;
  width:118px;
  height:22px;
}
#u1046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1046_input:disabled {
  color:grayText;
}
#u1047 {
  position:absolute;
  left:347px;
  top:68px;
  width:68px;
  height:25px;
}
#u1047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:439px;
  top:68px;
  width:58px;
  height:22px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:519px;
  top:68px;
  width:58px;
  height:22px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052 {
  position:absolute;
  left:596px;
  top:68px;
  width:58px;
  height:22px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:49px;
  top:114px;
  width:904px;
  height:153px;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u1057 {
  position:absolute;
  left:46px;
  top:0px;
  width:53px;
  height:55px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:55px;
}
#u1059 {
  position:absolute;
  left:99px;
  top:0px;
  width:62px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1060 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u1061 {
  position:absolute;
  left:161px;
  top:0px;
  width:46px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u1063 {
  position:absolute;
  left:207px;
  top:0px;
  width:46px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u1065 {
  position:absolute;
  left:253px;
  top:0px;
  width:47px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:55px;
}
#u1067 {
  position:absolute;
  left:300px;
  top:0px;
  width:50px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1068 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u1069 {
  position:absolute;
  left:350px;
  top:0px;
  width:79px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1070 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u1071 {
  position:absolute;
  left:429px;
  top:0px;
  width:49px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1072 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:55px;
}
#u1073 {
  position:absolute;
  left:478px;
  top:0px;
  width:43px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1074 {
  position:absolute;
  left:2px;
  top:18px;
  width:39px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
}
#u1075 {
  position:absolute;
  left:521px;
  top:0px;
  width:57px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1076 {
  position:absolute;
  left:2px;
  top:18px;
  width:53px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:55px;
}
#u1077 {
  position:absolute;
  left:578px;
  top:0px;
  width:92px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:55px;
}
#u1079 {
  position:absolute;
  left:670px;
  top:0px;
  width:229px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1080 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u1081 {
  position:absolute;
  left:0px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1082 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:58px;
}
#u1083 {
  position:absolute;
  left:46px;
  top:55px;
  width:53px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1084 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u1085 {
  position:absolute;
  left:99px;
  top:55px;
  width:62px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u1087 {
  position:absolute;
  left:161px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1088 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u1089 {
  position:absolute;
  left:207px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1090 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:58px;
}
#u1091 {
  position:absolute;
  left:253px;
  top:55px;
  width:47px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1092 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:58px;
}
#u1093 {
  position:absolute;
  left:300px;
  top:55px;
  width:50px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1094 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:58px;
}
#u1095 {
  position:absolute;
  left:350px;
  top:55px;
  width:79px;
  height:58px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:58px;
}
#u1097 {
  position:absolute;
  left:429px;
  top:55px;
  width:49px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1098 {
  position:absolute;
  left:2px;
  top:20px;
  width:45px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:58px;
}
#u1099 {
  position:absolute;
  left:478px;
  top:55px;
  width:43px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1100 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u1101 {
  position:absolute;
  left:521px;
  top:55px;
  width:57px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1102 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:58px;
}
#u1103 {
  position:absolute;
  left:578px;
  top:55px;
  width:92px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1104 {
  position:absolute;
  left:2px;
  top:20px;
  width:88px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:58px;
}
#u1105 {
  position:absolute;
  left:670px;
  top:55px;
  width:229px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1106 {
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u1107 {
  position:absolute;
  left:0px;
  top:113px;
  width:46px;
  height:35px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:35px;
}
#u1109 {
  position:absolute;
  left:46px;
  top:113px;
  width:53px;
  height:35px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u1111 {
  position:absolute;
  left:99px;
  top:113px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1112 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u1113 {
  position:absolute;
  left:161px;
  top:113px;
  width:46px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1114 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u1115 {
  position:absolute;
  left:207px;
  top:113px;
  width:46px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1116 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u1117 {
  position:absolute;
  left:253px;
  top:113px;
  width:47px;
  height:35px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u1119 {
  position:absolute;
  left:300px;
  top:113px;
  width:50px;
  height:35px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u1121 {
  position:absolute;
  left:350px;
  top:113px;
  width:79px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1122 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u1123 {
  position:absolute;
  left:429px;
  top:113px;
  width:49px;
  height:35px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u1125 {
  position:absolute;
  left:478px;
  top:113px;
  width:43px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1126 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u1127 {
  position:absolute;
  left:521px;
  top:113px;
  width:57px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1128 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u1129 {
  position:absolute;
  left:578px;
  top:113px;
  width:92px;
  height:35px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u1131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u1131 {
  position:absolute;
  left:670px;
  top:113px;
  width:229px;
  height:35px;
}
#u1132 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:723px;
  top:231px;
  width:40px;
  height:24px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1135 {
  position:absolute;
  left:773px;
  top:231px;
  width:103px;
  height:24px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  word-wrap:break-word;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1137 {
  position:absolute;
  left:886px;
  top:231px;
  width:56px;
  height:24px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1140 {
  position:absolute;
  left:331px;
  top:274px;
  width:10px;
  height:15px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1142 {
  position:absolute;
  left:533px;
  top:274px;
  width:10px;
  height:15px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1144 {
  position:absolute;
  left:510px;
  top:276px;
  width:11px;
  height:11px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1146 {
  position:absolute;
  left:351px;
  top:276px;
  width:11px;
  height:11px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u1148 {
  position:absolute;
  left:372px;
  top:276px;
  width:2px;
  height:13px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1150_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u1150 {
  position:absolute;
  left:499px;
  top:275px;
  width:2px;
  height:13px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1152 {
  position:absolute;
  left:391px;
  top:272px;
  width:81px;
  height:20px;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u1154 {
  position:absolute;
  left:593px;
  top:274px;
  width:10px;
  height:14px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1156 {
  position:absolute;
  left:572px;
  top:273px;
  width:17px;
  height:16px;
}
#u1157 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
