body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:283px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6104 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:283px;
}
#u6105 {
  position:absolute;
  left:2px;
  top:134px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6106 {
  position:absolute;
  left:49px;
  top:27px;
  width:58px;
  height:25px;
}
#u6106_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6107 {
  position:absolute;
  left:125px;
  top:27px;
  width:91px;
  height:25px;
}
#u6107_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6108 {
  position:absolute;
  left:226px;
  top:27px;
  width:75px;
  height:25px;
}
#u6108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6109 {
  position:absolute;
  left:448px;
  top:29px;
  width:121px;
  height:22px;
}
#u6109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6109_input:disabled {
  color:grayText;
}
#u6110 {
  position:absolute;
  left:590px;
  top:29px;
  width:114px;
  height:22px;
}
#u6110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6110_input:disabled {
  color:grayText;
}
#u6111 {
  position:absolute;
  left:311px;
  top:30px;
  width:121px;
  height:22px;
}
#u6111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6111_input:disabled {
  color:grayText;
}
#u6112 {
  position:absolute;
  left:729px;
  top:29px;
  width:63px;
  height:25px;
}
#u6112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u6113 {
  position:absolute;
  left:799px;
  top:40px;
  width:17px;
  height:1px;
}
#u6114 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6115 {
  position:absolute;
  left:826px;
  top:29px;
  width:63px;
  height:25px;
}
#u6115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6116 {
  position:absolute;
  left:49px;
  top:68px;
  width:130px;
  height:22px;
}
#u6116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6116_input:disabled {
  color:grayText;
}
#u6117 {
  position:absolute;
  left:203px;
  top:68px;
  width:118px;
  height:22px;
}
#u6117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6117_input:disabled {
  color:grayText;
}
#u6118 {
  position:absolute;
  left:347px;
  top:68px;
  width:68px;
  height:25px;
}
#u6118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6119 {
  position:absolute;
  left:439px;
  top:68px;
  width:58px;
  height:22px;
}
#u6120 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u6121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6121 {
  position:absolute;
  left:519px;
  top:68px;
  width:58px;
  height:22px;
}
#u6122 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u6123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6123 {
  position:absolute;
  left:596px;
  top:68px;
  width:58px;
  height:22px;
}
#u6124 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u6125 {
  position:absolute;
  left:49px;
  top:114px;
  width:904px;
  height:153px;
}
#u6126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u6126 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u6127 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u6128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u6128 {
  position:absolute;
  left:46px;
  top:0px;
  width:53px;
  height:55px;
}
#u6129 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u6130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:55px;
}
#u6130 {
  position:absolute;
  left:99px;
  top:0px;
  width:62px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6131 {
  position:absolute;
  left:2px;
  top:18px;
  width:58px;
  word-wrap:break-word;
}
#u6132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u6132 {
  position:absolute;
  left:161px;
  top:0px;
  width:46px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6133 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u6134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:55px;
}
#u6134 {
  position:absolute;
  left:207px;
  top:0px;
  width:46px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6135 {
  position:absolute;
  left:2px;
  top:18px;
  width:42px;
  word-wrap:break-word;
}
#u6136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:55px;
}
#u6136 {
  position:absolute;
  left:253px;
  top:0px;
  width:47px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6137 {
  position:absolute;
  left:2px;
  top:18px;
  width:43px;
  word-wrap:break-word;
}
#u6138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:55px;
}
#u6138 {
  position:absolute;
  left:300px;
  top:0px;
  width:50px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6139 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  word-wrap:break-word;
}
#u6140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:55px;
}
#u6140 {
  position:absolute;
  left:350px;
  top:0px;
  width:79px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6141 {
  position:absolute;
  left:2px;
  top:18px;
  width:75px;
  word-wrap:break-word;
}
#u6142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u6142 {
  position:absolute;
  left:429px;
  top:0px;
  width:49px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6143 {
  position:absolute;
  left:2px;
  top:18px;
  width:45px;
  word-wrap:break-word;
}
#u6144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:55px;
}
#u6144 {
  position:absolute;
  left:478px;
  top:0px;
  width:43px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6145 {
  position:absolute;
  left:2px;
  top:18px;
  width:39px;
  word-wrap:break-word;
}
#u6146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:55px;
}
#u6146 {
  position:absolute;
  left:521px;
  top:0px;
  width:57px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6147 {
  position:absolute;
  left:2px;
  top:18px;
  width:53px;
  word-wrap:break-word;
}
#u6148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:55px;
}
#u6148 {
  position:absolute;
  left:578px;
  top:0px;
  width:92px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6149 {
  position:absolute;
  left:2px;
  top:18px;
  width:88px;
  word-wrap:break-word;
}
#u6150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:55px;
}
#u6150 {
  position:absolute;
  left:670px;
  top:0px;
  width:229px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6151 {
  position:absolute;
  left:2px;
  top:18px;
  width:225px;
  word-wrap:break-word;
}
#u6152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u6152 {
  position:absolute;
  left:0px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6153 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u6154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:58px;
}
#u6154 {
  position:absolute;
  left:46px;
  top:55px;
  width:53px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6155 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  word-wrap:break-word;
}
#u6156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u6156 {
  position:absolute;
  left:99px;
  top:55px;
  width:62px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6157 {
  position:absolute;
  left:2px;
  top:20px;
  width:58px;
  word-wrap:break-word;
}
#u6158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u6158 {
  position:absolute;
  left:161px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6159 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u6160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:58px;
}
#u6160 {
  position:absolute;
  left:207px;
  top:55px;
  width:46px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6161 {
  position:absolute;
  left:2px;
  top:20px;
  width:42px;
  word-wrap:break-word;
}
#u6162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:58px;
}
#u6162 {
  position:absolute;
  left:253px;
  top:55px;
  width:47px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6163 {
  position:absolute;
  left:2px;
  top:20px;
  width:43px;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:58px;
}
#u6164 {
  position:absolute;
  left:300px;
  top:55px;
  width:50px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6165 {
  position:absolute;
  left:2px;
  top:20px;
  width:46px;
  word-wrap:break-word;
}
#u6166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:58px;
}
#u6166 {
  position:absolute;
  left:350px;
  top:55px;
  width:79px;
  height:58px;
}
#u6167 {
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u6168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:58px;
}
#u6168 {
  position:absolute;
  left:429px;
  top:55px;
  width:49px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6169 {
  position:absolute;
  left:2px;
  top:20px;
  width:45px;
  word-wrap:break-word;
}
#u6170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:58px;
}
#u6170 {
  position:absolute;
  left:478px;
  top:55px;
  width:43px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6171 {
  position:absolute;
  left:2px;
  top:20px;
  width:39px;
  word-wrap:break-word;
}
#u6172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u6172 {
  position:absolute;
  left:521px;
  top:55px;
  width:57px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6173 {
  position:absolute;
  left:2px;
  top:20px;
  width:53px;
  word-wrap:break-word;
}
#u6174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:58px;
}
#u6174 {
  position:absolute;
  left:578px;
  top:55px;
  width:92px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6175 {
  position:absolute;
  left:2px;
  top:20px;
  width:88px;
  word-wrap:break-word;
}
#u6176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:58px;
}
#u6176 {
  position:absolute;
  left:670px;
  top:55px;
  width:229px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6177 {
  position:absolute;
  left:2px;
  top:20px;
  width:225px;
  word-wrap:break-word;
}
#u6178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u6178 {
  position:absolute;
  left:0px;
  top:113px;
  width:46px;
  height:35px;
}
#u6179 {
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u6180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:35px;
}
#u6180 {
  position:absolute;
  left:46px;
  top:113px;
  width:53px;
  height:35px;
}
#u6181 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u6182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:35px;
}
#u6182 {
  position:absolute;
  left:99px;
  top:113px;
  width:62px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6183 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  word-wrap:break-word;
}
#u6184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u6184 {
  position:absolute;
  left:161px;
  top:113px;
  width:46px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6185 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:35px;
}
#u6186 {
  position:absolute;
  left:207px;
  top:113px;
  width:46px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6187 {
  position:absolute;
  left:2px;
  top:8px;
  width:42px;
  word-wrap:break-word;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u6188 {
  position:absolute;
  left:253px;
  top:113px;
  width:47px;
  height:35px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  word-wrap:break-word;
}
#u6190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u6190 {
  position:absolute;
  left:300px;
  top:113px;
  width:50px;
  height:35px;
}
#u6191 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u6192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
}
#u6192 {
  position:absolute;
  left:350px;
  top:113px;
  width:79px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6193 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u6194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:35px;
}
#u6194 {
  position:absolute;
  left:429px;
  top:113px;
  width:49px;
  height:35px;
}
#u6195 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  word-wrap:break-word;
}
#u6196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u6196 {
  position:absolute;
  left:478px;
  top:113px;
  width:43px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6197 {
  position:absolute;
  left:2px;
  top:8px;
  width:39px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:35px;
}
#u6198 {
  position:absolute;
  left:521px;
  top:113px;
  width:57px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6199 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u6200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
}
#u6200 {
  position:absolute;
  left:578px;
  top:113px;
  width:92px;
  height:35px;
}
#u6201 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u6202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:35px;
}
#u6202 {
  position:absolute;
  left:670px;
  top:113px;
  width:229px;
  height:35px;
}
#u6203 {
  position:absolute;
  left:2px;
  top:10px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6204 {
  position:absolute;
  left:723px;
  top:231px;
  width:40px;
  height:24px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6206 {
  position:absolute;
  left:773px;
  top:231px;
  width:103px;
  height:24px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  word-wrap:break-word;
}
#u6208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6208 {
  position:absolute;
  left:886px;
  top:231px;
  width:56px;
  height:24px;
}
#u6209 {
  position:absolute;
  left:2px;
  top:3px;
  width:52px;
  word-wrap:break-word;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u6211 {
  position:absolute;
  left:331px;
  top:274px;
  width:10px;
  height:15px;
}
#u6212 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u6213 {
  position:absolute;
  left:533px;
  top:274px;
  width:10px;
  height:15px;
}
#u6214 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6215 {
  position:absolute;
  left:510px;
  top:276px;
  width:11px;
  height:11px;
}
#u6216 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u6217 {
  position:absolute;
  left:351px;
  top:276px;
  width:11px;
  height:11px;
}
#u6218 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6219_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u6219 {
  position:absolute;
  left:372px;
  top:276px;
  width:2px;
  height:13px;
}
#u6220 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6221_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u6221 {
  position:absolute;
  left:499px;
  top:275px;
  width:2px;
  height:13px;
}
#u6222 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6223 {
  position:absolute;
  left:391px;
  top:272px;
  width:81px;
  height:20px;
}
#u6224 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u6225 {
  position:absolute;
  left:593px;
  top:274px;
  width:10px;
  height:14px;
}
#u6226 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6227 {
  position:absolute;
  left:572px;
  top:273px;
  width:17px;
  height:16px;
}
#u6228 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
