body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7589 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u7590 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u7591 {
  position:absolute;
  left:180px;
  top:49px;
  width:77px;
  height:29px;
}
#u7592 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u7593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u7593 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u7594 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7595 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u7596 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u7597 {
  position:absolute;
  left:94px;
  top:87px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u7598 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u7599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7599 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u7600 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u7601 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u7602 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
