body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2455 {
  position:absolute;
  left:180px;
  top:49px;
  width:77px;
  height:29px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2457 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u2458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2459 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u2460 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u2461 {
  position:absolute;
  left:94px;
  top:87px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u2462 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2463 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u2465 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
