body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3661 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u3663 {
  position:absolute;
  left:180px;
  top:49px;
  width:77px;
  height:29px;
}
#u3664 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u3665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u3665 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u3666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u3667 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u3668 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u3669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u3669 {
  position:absolute;
  left:94px;
  top:87px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u3670 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u3671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u3671 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u3672 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u3673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u3673 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u3674 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
