body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:850px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8720 {
  position:absolute;
  left:30px;
  top:30px;
  width:1050px;
  height:850px;
}
#u8721 {
  position:absolute;
  left:2px;
  top:417px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8722 {
  position:absolute;
  left:30px;
  top:30px;
  width:1050px;
  height:390px;
}
#u8723 {
  position:absolute;
  left:2px;
  top:187px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8724 {
  position:absolute;
  left:50px;
  top:40px;
  width:140px;
  height:25px;
}
#u8724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8725 {
  position:absolute;
  left:220px;
  top:40px;
  width:120px;
  height:25px;
}
#u8725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8726 {
  position:absolute;
  left:650px;
  top:40px;
  width:90px;
  height:25px;
}
#u8727 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u8728 {
  position:absolute;
  left:352px;
  top:40px;
  width:120px;
  height:25px;
}
#u8728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8729 {
  position:absolute;
  left:40px;
  top:70px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8730 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u8731 {
  position:absolute;
  left:492px;
  top:40px;
  width:130px;
  height:25px;
}
#u8731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8731_input:disabled {
  color:grayText;
}
#u8732 {
  position:absolute;
  left:50px;
  top:120px;
  width:130px;
  height:25px;
}
#u8732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8733 {
  position:absolute;
  left:200px;
  top:120px;
  width:130px;
  height:25px;
}
#u8733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8734 {
  position:absolute;
  left:350px;
  top:120px;
  width:130px;
  height:25px;
}
#u8734_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8735 {
  position:absolute;
  left:500px;
  top:120px;
  width:130px;
  height:25px;
}
#u8735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:111px;
}
#u8736 {
  position:absolute;
  left:50px;
  top:160px;
  width:210px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8737 {
  position:absolute;
  left:2px;
  top:46px;
  width:206px;
  word-wrap:break-word;
}
#u8738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u8738 {
  position:absolute;
  left:280px;
  top:160px;
  width:210px;
  height:110px;
}
#u8739 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u8740 {
  position:absolute;
  left:510px;
  top:160px;
  width:210px;
  height:110px;
}
#u8741 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:110px;
}
#u8742 {
  position:absolute;
  left:740px;
  top:160px;
  width:210px;
  height:110px;
}
#u8743 {
  position:absolute;
  left:2px;
  top:47px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8744 {
  position:absolute;
  left:42px;
  top:290px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8745 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u8746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8746 {
  position:absolute;
  left:50px;
  top:340px;
  width:71px;
  height:20px;
}
#u8747 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8748 {
  position:absolute;
  left:123px;
  top:340px;
  width:949px;
  height:50px;
}
#u8749 {
  position:absolute;
  left:0px;
  top:0px;
  width:949px;
  word-wrap:break-word;
}
#u8750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8750 {
  position:absolute;
  left:930px;
  top:70px;
  width:140px;
  height:40px;
}
#u8751 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
