body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1118px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:655px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2267 {
  position:absolute;
  left:92px;
  top:88px;
  width:240px;
  height:655px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:320px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:120px;
}
#u2269 {
  position:absolute;
  left:94px;
  top:89px;
  width:236px;
  height:120px;
}
#u2270 {
  position:absolute;
  left:2px;
  top:52px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:261px;
}
#u2271 {
  position:absolute;
  left:94px;
  top:209px;
  width:236px;
  height:261px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:122px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:118px;
}
#u2273 {
  position:absolute;
  left:92px;
  top:470px;
  width:240px;
  height:118px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:51px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:118px;
}
#u2275 {
  position:absolute;
  left:92px;
  top:588px;
  width:240px;
  height:118px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:51px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2277 {
  position:absolute;
  left:92px;
  top:706px;
  width:240px;
  height:37px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:10px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2279 {
  position:absolute;
  left:103px;
  top:716px;
  width:15px;
  height:15px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2281 {
  position:absolute;
  left:168px;
  top:717px;
  width:15px;
  height:15px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283 {
  position:absolute;
  left:118px;
  top:712px;
  width:50px;
  height:25px;
}
#u2283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2284 {
  position:absolute;
  left:231px;
  top:712px;
  width:79px;
  height:25px;
}
#u2285 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:382px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2286 {
  position:absolute;
  left:393px;
  top:88px;
  width:725px;
  height:382px;
}
#u2287 {
  position:absolute;
  left:10px;
  top:10px;
  width:705px;
  word-wrap:break-word;
}
