body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8507 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8508 {
  position:absolute;
  left:63px;
  top:22px;
  width:270px;
  height:262px;
}
#u8509 {
  position:absolute;
  left:2px;
  top:123px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u8510 {
  position:absolute;
  left:160px;
  top:34px;
  width:77px;
  height:29px;
}
#u8511 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u8512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u8512 {
  position:absolute;
  left:64px;
  top:215px;
  width:270px;
  height:1px;
}
#u8513 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u8514 {
  position:absolute;
  left:255px;
  top:229px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u8515 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u8516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u8516 {
  position:absolute;
  left:74px;
  top:72px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u8517 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u8518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u8518 {
  position:absolute;
  left:123px;
  top:229px;
  width:41px;
  height:29px;
}
#u8519 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u8520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u8520 {
  position:absolute;
  left:198px;
  top:220px;
  width:1px;
  height:64px;
}
#u8521 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8523 {
  position:absolute;
  left:63px;
  top:327px;
  width:270px;
  height:160px;
}
#u8524 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u8525 {
  position:absolute;
  left:160px;
  top:347px;
  width:77px;
  height:29px;
  text-align:center;
}
#u8526 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u8527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u8527 {
  position:absolute;
  left:64px;
  top:431px;
  width:270px;
  height:1px;
}
#u8528 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u8529 {
  position:absolute;
  left:255px;
  top:449px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u8530 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u8531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u8531 {
  position:absolute;
  left:84px;
  top:379px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u8532 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u8533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u8533 {
  position:absolute;
  left:122px;
  top:449px;
  width:41px;
  height:29px;
  text-align:center;
}
#u8534 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u8535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u8535 {
  position:absolute;
  left:199px;
  top:432px;
  width:1px;
  height:55px;
}
#u8536 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8537 {
  position:absolute;
  left:74px;
  top:128px;
  width:107px;
  height:20px;
}
#u8538 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u8539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8539 {
  position:absolute;
  left:139px;
  top:156px;
  width:43px;
  height:20px;
}
#u8540 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8541 {
  position:absolute;
  left:185px;
  top:155px;
  width:55px;
  height:25px;
}
#u8541_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8542 {
  position:absolute;
  left:244px;
  top:157px;
  width:15px;
  height:20px;
}
#u8543 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:114px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8544 {
  position:absolute;
  left:378px;
  top:71px;
  width:545px;
  height:114px;
}
#u8545 {
  position:absolute;
  left:10px;
  top:10px;
  width:525px;
  word-wrap:break-word;
}
#u8546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8546 {
  position:absolute;
  left:157px;
  top:190px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u8547 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8548 {
  position:absolute;
  left:207px;
  top:128px;
  width:107px;
  height:20px;
}
#u8549 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
