body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4717 {
  position:absolute;
  left:63px;
  top:22px;
  width:270px;
  height:262px;
}
#u4718 {
  position:absolute;
  left:2px;
  top:123px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u4719 {
  position:absolute;
  left:160px;
  top:34px;
  width:77px;
  height:29px;
}
#u4720 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4721 {
  position:absolute;
  left:64px;
  top:215px;
  width:270px;
  height:1px;
}
#u4722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4723 {
  position:absolute;
  left:255px;
  top:229px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u4724 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u4725 {
  position:absolute;
  left:74px;
  top:72px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u4726 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u4727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4727 {
  position:absolute;
  left:123px;
  top:229px;
  width:41px;
  height:29px;
}
#u4728 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:65px;
}
#u4729 {
  position:absolute;
  left:198px;
  top:220px;
  width:1px;
  height:64px;
}
#u4730 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4732 {
  position:absolute;
  left:63px;
  top:327px;
  width:270px;
  height:160px;
}
#u4733 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u4734 {
  position:absolute;
  left:160px;
  top:347px;
  width:77px;
  height:29px;
  text-align:center;
}
#u4735 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4736 {
  position:absolute;
  left:64px;
  top:431px;
  width:270px;
  height:1px;
}
#u4737 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4738 {
  position:absolute;
  left:255px;
  top:449px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u4739 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u4740 {
  position:absolute;
  left:84px;
  top:379px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u4741 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u4742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4742 {
  position:absolute;
  left:122px;
  top:449px;
  width:41px;
  height:29px;
  text-align:center;
}
#u4743 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u4744 {
  position:absolute;
  left:199px;
  top:432px;
  width:1px;
  height:55px;
}
#u4745 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4746 {
  position:absolute;
  left:74px;
  top:128px;
  width:107px;
  height:20px;
}
#u4747 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4748 {
  position:absolute;
  left:139px;
  top:156px;
  width:43px;
  height:20px;
}
#u4749 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4750 {
  position:absolute;
  left:185px;
  top:155px;
  width:55px;
  height:25px;
}
#u4750_input {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4751 {
  position:absolute;
  left:244px;
  top:157px;
  width:15px;
  height:20px;
}
#u4752 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:114px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4753 {
  position:absolute;
  left:378px;
  top:71px;
  width:545px;
  height:114px;
}
#u4754 {
  position:absolute;
  left:10px;
  top:10px;
  width:525px;
  word-wrap:break-word;
}
#u4755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4755 {
  position:absolute;
  left:157px;
  top:190px;
  width:85px;
  height:20px;
  color:#FF0000;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4757 {
  position:absolute;
  left:207px;
  top:128px;
  width:107px;
  height:20px;
}
#u4758 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
