body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2086 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2088 {
  position:absolute;
  left:180px;
  top:49px;
  width:77px;
  height:29px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2090 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2092 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u2093 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u2094 {
  position:absolute;
  left:104px;
  top:82px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u2095 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2096 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u2098 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2101 {
  position:absolute;
  left:389px;
  top:30px;
  width:270px;
  height:160px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u2103 {
  position:absolute;
  left:486px;
  top:50px;
  width:77px;
  height:29px;
  text-align:center;
}
#u2104 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u2105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u2105 {
  position:absolute;
  left:390px;
  top:134px;
  width:270px;
  height:1px;
}
#u2106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2107 {
  position:absolute;
  left:581px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u2108 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:46px;
}
#u2109 {
  position:absolute;
  left:410px;
  top:82px;
  width:249px;
  height:46px;
  color:#AEAEAE;
  text-align:center;
}
#u2110 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u2111 {
  position:absolute;
  left:448px;
  top:152px;
  width:41px;
  height:29px;
  text-align:center;
}
#u2112 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u2113 {
  position:absolute;
  left:525px;
  top:135px;
  width:1px;
  height:55px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
