body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10671 {
  position:absolute;
  left:30px;
  top:30px;
  width:1020px;
  height:420px;
}
#u10672 {
  position:absolute;
  left:2px;
  top:202px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10673 {
  position:absolute;
  left:30px;
  top:30px;
  width:1020px;
  height:40px;
}
#u10674 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10675 {
  position:absolute;
  left:50px;
  top:40px;
  width:113px;
  height:20px;
}
#u10676 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10677 {
  position:absolute;
  left:50px;
  top:80px;
  width:140px;
  height:22px;
}
#u10677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10677_input:disabled {
  color:grayText;
}
#u10678 {
  position:absolute;
  left:210px;
  top:80px;
  width:70px;
  height:22px;
}
#u10678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10678_input:disabled {
  color:grayText;
}
#u10679 {
  position:absolute;
  left:300px;
  top:80px;
  width:70px;
  height:22px;
}
#u10679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10679_input:disabled {
  color:grayText;
}
#u10680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10680 {
  position:absolute;
  left:30px;
  top:122px;
  width:1020px;
  height:40px;
}
#u10681 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10682 {
  position:absolute;
  left:50px;
  top:172px;
  width:140px;
  height:22px;
}
#u10682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10682_input:disabled {
  color:grayText;
}
#u10683 {
  position:absolute;
  left:210px;
  top:172px;
  width:70px;
  height:22px;
}
#u10683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10683_input:disabled {
  color:grayText;
}
#u10684 {
  position:absolute;
  left:300px;
  top:172px;
  width:70px;
  height:22px;
}
#u10684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10684_input:disabled {
  color:grayText;
}
#u10685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10685 {
  position:absolute;
  left:50px;
  top:132px;
  width:113px;
  height:20px;
}
#u10686 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10687 {
  position:absolute;
  left:520px;
  top:81px;
  width:85px;
  height:20px;
}
#u10688 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10689 {
  position:absolute;
  left:745px;
  top:81px;
  width:85px;
  height:20px;
}
#u10690 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10691 {
  position:absolute;
  left:600px;
  top:76px;
  width:125px;
  height:25px;
}
#u10691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10692 {
  position:absolute;
  left:830px;
  top:79px;
  width:180px;
  height:25px;
}
#u10692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10693 {
  position:absolute;
  left:520px;
  top:177px;
  width:85px;
  height:20px;
}
#u10694 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10695 {
  position:absolute;
  left:745px;
  top:177px;
  width:85px;
  height:20px;
}
#u10696 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10697 {
  position:absolute;
  left:600px;
  top:172px;
  width:125px;
  height:25px;
}
#u10697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10698 {
  position:absolute;
  left:830px;
  top:175px;
  width:180px;
  height:25px;
}
#u10698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10699 {
  position:absolute;
  left:30px;
  top:214px;
  width:1020px;
  height:40px;
}
#u10700 {
  position:absolute;
  left:2px;
  top:12px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10701 {
  position:absolute;
  left:50px;
  top:224px;
  width:155px;
  height:20px;
}
#u10702 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u10703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10703 {
  position:absolute;
  left:50px;
  top:287px;
  width:85px;
  height:20px;
}
#u10704 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10705 {
  position:absolute;
  left:275px;
  top:287px;
  width:85px;
  height:20px;
}
#u10706 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10707 {
  position:absolute;
  left:130px;
  top:282px;
  width:125px;
  height:25px;
}
#u10707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10708 {
  position:absolute;
  left:360px;
  top:285px;
  width:180px;
  height:25px;
}
#u10708_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10709 {
  position:absolute;
  left:390px;
  top:76px;
  width:70px;
  height:31px;
}
#u10710 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u10711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10711 {
  position:absolute;
  left:390px;
  top:168px;
  width:70px;
  height:31px;
}
#u10712 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
