body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:249px;
}
#u832 {
  position:absolute;
  left:2px;
  top:116px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:49px;
  top:29px;
  width:90px;
  height:25px;
}
#u833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u834 {
  position:absolute;
  left:164px;
  top:29px;
  width:65px;
  height:25px;
}
#u834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u835 {
  position:absolute;
  left:249px;
  top:32px;
  width:121px;
  height:22px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u835_input:disabled {
  color:grayText;
}
#u836 {
  position:absolute;
  left:386px;
  top:32px;
  width:121px;
  height:22px;
}
#u836_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u836_input:disabled {
  color:grayText;
}
#u837 {
  position:absolute;
  left:529px;
  top:32px;
  width:114px;
  height:22px;
}
#u837_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u837_input:disabled {
  color:grayText;
}
#u838 {
  position:absolute;
  left:659px;
  top:32px;
  width:63px;
  height:25px;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u839 {
  position:absolute;
  left:729px;
  top:43px;
  width:17px;
  height:1px;
}
#u840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:756px;
  top:32px;
  width:63px;
  height:25px;
}
#u841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u842 {
  position:absolute;
  left:49px;
  top:78px;
  width:112px;
  height:22px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u842_input:disabled {
  color:grayText;
}
#u843 {
  position:absolute;
  left:193px;
  top:78px;
  width:67px;
  height:25px;
}
#u843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u844 {
  position:absolute;
  left:282px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u846 {
  position:absolute;
  left:363px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u847 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u848 {
  position:absolute;
  left:49px;
  top:120px;
  width:902px;
  height:105px;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u850 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u851 {
  position:absolute;
  left:28px;
  top:0px;
  width:76px;
  height:30px;
}
#u852 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u853 {
  position:absolute;
  left:104px;
  top:0px;
  width:42px;
  height:30px;
}
#u854 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u855 {
  position:absolute;
  left:146px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u856 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u857 {
  position:absolute;
  left:213px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u858 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u859 {
  position:absolute;
  left:296px;
  top:0px;
  width:77px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u860 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u861 {
  position:absolute;
  left:373px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u863 {
  position:absolute;
  left:463px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u864 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u865 {
  position:absolute;
  left:546px;
  top:0px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u866 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u867 {
  position:absolute;
  left:701px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u868 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u869 {
  position:absolute;
  left:790px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u870 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u871 {
  position:absolute;
  left:0px;
  top:30px;
  width:28px;
  height:40px;
}
#u872 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u873 {
  position:absolute;
  left:28px;
  top:30px;
  width:76px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u875 {
  position:absolute;
  left:104px;
  top:30px;
  width:42px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u876 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u877 {
  position:absolute;
  left:146px;
  top:30px;
  width:67px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u878 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u879 {
  position:absolute;
  left:213px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u881 {
  position:absolute;
  left:296px;
  top:30px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u882 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u883 {
  position:absolute;
  left:373px;
  top:30px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u885 {
  position:absolute;
  left:463px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u886 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u887 {
  position:absolute;
  left:546px;
  top:30px;
  width:155px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u888 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u889 {
  position:absolute;
  left:701px;
  top:30px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u891 {
  position:absolute;
  left:790px;
  top:30px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u893 {
  position:absolute;
  left:0px;
  top:70px;
  width:28px;
  height:30px;
}
#u894 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u895 {
  position:absolute;
  left:28px;
  top:70px;
  width:76px;
  height:30px;
}
#u896 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u897 {
  position:absolute;
  left:104px;
  top:70px;
  width:42px;
  height:30px;
}
#u898 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u899 {
  position:absolute;
  left:146px;
  top:70px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u900 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u901 {
  position:absolute;
  left:213px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u902 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u903 {
  position:absolute;
  left:296px;
  top:70px;
  width:77px;
  height:30px;
}
#u904 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u905 {
  position:absolute;
  left:373px;
  top:70px;
  width:90px;
  height:30px;
}
#u906 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u907 {
  position:absolute;
  left:463px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u909 {
  position:absolute;
  left:546px;
  top:70px;
  width:155px;
  height:30px;
}
#u910 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u911 {
  position:absolute;
  left:701px;
  top:70px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u913 {
  position:absolute;
  left:790px;
  top:70px;
  width:107px;
  height:30px;
}
#u914 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:55px;
  top:127px;
  width:100px;
  height:16px;
}
#u916 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:851px;
  top:194px;
  width:79px;
  height:20px;
}
#u918 {
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:55px;
  top:162px;
  width:100px;
  height:16px;
}
#u920 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u921 {
  position:absolute;
  left:55px;
  top:198px;
  width:100px;
  height:16px;
}
#u922 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u924 {
  position:absolute;
  left:331px;
  top:232px;
  width:10px;
  height:15px;
}
#u925 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u926 {
  position:absolute;
  left:533px;
  top:232px;
  width:10px;
  height:15px;
}
#u927 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u928 {
  position:absolute;
  left:510px;
  top:234px;
  width:11px;
  height:11px;
}
#u929 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u930 {
  position:absolute;
  left:351px;
  top:234px;
  width:11px;
  height:11px;
}
#u931 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u932 {
  position:absolute;
  left:372px;
  top:234px;
  width:2px;
  height:13px;
}
#u933 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u934 {
  position:absolute;
  left:499px;
  top:233px;
  width:2px;
  height:13px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:391px;
  top:230px;
  width:81px;
  height:20px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u938 {
  position:absolute;
  left:593px;
  top:232px;
  width:10px;
  height:14px;
}
#u939 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:572px;
  top:231px;
  width:17px;
  height:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
