body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1274 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:249px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:116px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276 {
  position:absolute;
  left:49px;
  top:29px;
  width:90px;
  height:25px;
}
#u1276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1277 {
  position:absolute;
  left:164px;
  top:29px;
  width:65px;
  height:25px;
}
#u1277_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1278 {
  position:absolute;
  left:249px;
  top:32px;
  width:121px;
  height:22px;
}
#u1278_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1278_input:disabled {
  color:grayText;
}
#u1279 {
  position:absolute;
  left:386px;
  top:32px;
  width:121px;
  height:22px;
}
#u1279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1279_input:disabled {
  color:grayText;
}
#u1280 {
  position:absolute;
  left:529px;
  top:32px;
  width:114px;
  height:22px;
}
#u1280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1280_input:disabled {
  color:grayText;
}
#u1281 {
  position:absolute;
  left:659px;
  top:32px;
  width:63px;
  height:25px;
}
#u1281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u1282 {
  position:absolute;
  left:729px;
  top:43px;
  width:17px;
  height:1px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284 {
  position:absolute;
  left:756px;
  top:32px;
  width:63px;
  height:25px;
}
#u1284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1285 {
  position:absolute;
  left:49px;
  top:78px;
  width:112px;
  height:22px;
}
#u1285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1285_input:disabled {
  color:grayText;
}
#u1286 {
  position:absolute;
  left:193px;
  top:78px;
  width:67px;
  height:25px;
}
#u1286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1287 {
  position:absolute;
  left:282px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1288 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1289 {
  position:absolute;
  left:363px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1290 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u1291 {
  position:absolute;
  left:49px;
  top:120px;
  width:902px;
  height:105px;
}
#u1292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1292 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1293 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u1294 {
  position:absolute;
  left:28px;
  top:0px;
  width:76px;
  height:30px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u1296 {
  position:absolute;
  left:104px;
  top:0px;
  width:42px;
  height:30px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u1298 {
  position:absolute;
  left:146px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1299 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1300 {
  position:absolute;
  left:213px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1302 {
  position:absolute;
  left:296px;
  top:0px;
  width:77px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1303 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1304 {
  position:absolute;
  left:373px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1305 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1306 {
  position:absolute;
  left:463px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1307 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u1308 {
  position:absolute;
  left:546px;
  top:0px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1309 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1310 {
  position:absolute;
  left:701px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1311 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1312 {
  position:absolute;
  left:790px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1313 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u1314 {
  position:absolute;
  left:0px;
  top:30px;
  width:28px;
  height:40px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u1316 {
  position:absolute;
  left:28px;
  top:30px;
  width:76px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1317 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u1318 {
  position:absolute;
  left:104px;
  top:30px;
  width:42px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1319 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u1320 {
  position:absolute;
  left:146px;
  top:30px;
  width:67px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1321 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u1322 {
  position:absolute;
  left:213px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1323 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u1324 {
  position:absolute;
  left:296px;
  top:30px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1325 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u1326 {
  position:absolute;
  left:373px;
  top:30px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1327 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u1328 {
  position:absolute;
  left:463px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1329 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u1330 {
  position:absolute;
  left:546px;
  top:30px;
  width:155px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1331 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u1332 {
  position:absolute;
  left:701px;
  top:30px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u1334 {
  position:absolute;
  left:790px;
  top:30px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1335 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u1336 {
  position:absolute;
  left:0px;
  top:70px;
  width:28px;
  height:30px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u1338 {
  position:absolute;
  left:28px;
  top:70px;
  width:76px;
  height:30px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u1340 {
  position:absolute;
  left:104px;
  top:70px;
  width:42px;
  height:30px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u1342 {
  position:absolute;
  left:146px;
  top:70px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1344 {
  position:absolute;
  left:213px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1346 {
  position:absolute;
  left:296px;
  top:70px;
  width:77px;
  height:30px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u1348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1348 {
  position:absolute;
  left:373px;
  top:70px;
  width:90px;
  height:30px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u1350 {
  position:absolute;
  left:463px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1351 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u1352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u1352 {
  position:absolute;
  left:546px;
  top:70px;
  width:155px;
  height:30px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u1354 {
  position:absolute;
  left:701px;
  top:70px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1355 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u1356 {
  position:absolute;
  left:790px;
  top:70px;
  width:107px;
  height:30px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358 {
  position:absolute;
  left:55px;
  top:127px;
  width:100px;
  height:16px;
}
#u1359 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  position:absolute;
  left:851px;
  top:194px;
  width:79px;
  height:20px;
}
#u1361 {
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u1362 {
  position:absolute;
  left:55px;
  top:162px;
  width:100px;
  height:16px;
}
#u1363 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1362_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1364 {
  position:absolute;
  left:55px;
  top:198px;
  width:100px;
  height:16px;
}
#u1365 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1364_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1366 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1367 {
  position:absolute;
  left:331px;
  top:232px;
  width:10px;
  height:15px;
}
#u1368 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1369 {
  position:absolute;
  left:533px;
  top:232px;
  width:10px;
  height:15px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1371 {
  position:absolute;
  left:510px;
  top:234px;
  width:11px;
  height:11px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1373 {
  position:absolute;
  left:351px;
  top:234px;
  width:11px;
  height:11px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u1375 {
  position:absolute;
  left:372px;
  top:234px;
  width:2px;
  height:13px;
}
#u1376 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u1377 {
  position:absolute;
  left:499px;
  top:233px;
  width:2px;
  height:13px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:391px;
  top:230px;
  width:81px;
  height:20px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u1381 {
  position:absolute;
  left:593px;
  top:232px;
  width:10px;
  height:14px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1383 {
  position:absolute;
  left:572px;
  top:231px;
  width:17px;
  height:16px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
