body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:249px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3139 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:249px;
}
#u3140 {
  position:absolute;
  left:2px;
  top:116px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3141 {
  position:absolute;
  left:49px;
  top:29px;
  width:90px;
  height:25px;
}
#u3141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3142 {
  position:absolute;
  left:164px;
  top:29px;
  width:65px;
  height:25px;
}
#u3142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3143 {
  position:absolute;
  left:249px;
  top:32px;
  width:121px;
  height:22px;
}
#u3143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3143_input:disabled {
  color:grayText;
}
#u3144 {
  position:absolute;
  left:386px;
  top:32px;
  width:121px;
  height:22px;
}
#u3144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3144_input:disabled {
  color:grayText;
}
#u3145 {
  position:absolute;
  left:529px;
  top:32px;
  width:114px;
  height:22px;
}
#u3145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3145_input:disabled {
  color:grayText;
}
#u3146 {
  position:absolute;
  left:659px;
  top:32px;
  width:63px;
  height:25px;
}
#u3146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3147 {
  position:absolute;
  left:729px;
  top:43px;
  width:17px;
  height:1px;
}
#u3148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3149 {
  position:absolute;
  left:756px;
  top:32px;
  width:63px;
  height:25px;
}
#u3149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3150 {
  position:absolute;
  left:49px;
  top:78px;
  width:112px;
  height:22px;
}
#u3150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3150_input:disabled {
  color:grayText;
}
#u3151 {
  position:absolute;
  left:193px;
  top:78px;
  width:67px;
  height:25px;
}
#u3151_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3152 {
  position:absolute;
  left:282px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3153 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u3154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3154 {
  position:absolute;
  left:363px;
  top:78px;
  width:63px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3155 {
  position:absolute;
  left:2px;
  top:4px;
  width:59px;
  word-wrap:break-word;
}
#u3156 {
  position:absolute;
  left:49px;
  top:120px;
  width:902px;
  height:105px;
}
#u3157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u3157 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u3158 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3159 {
  position:absolute;
  left:28px;
  top:0px;
  width:76px;
  height:30px;
}
#u3160 {
  position:absolute;
  left:2px;
  top:6px;
  width:72px;
  word-wrap:break-word;
}
#u3161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u3161 {
  position:absolute;
  left:104px;
  top:0px;
  width:42px;
  height:30px;
}
#u3162 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u3163 {
  position:absolute;
  left:146px;
  top:0px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3164 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3165 {
  position:absolute;
  left:213px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3166 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3167 {
  position:absolute;
  left:296px;
  top:0px;
  width:77px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3168 {
  position:absolute;
  left:2px;
  top:6px;
  width:73px;
  word-wrap:break-word;
}
#u3169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3169 {
  position:absolute;
  left:373px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3170 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u3171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3171 {
  position:absolute;
  left:463px;
  top:0px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3172 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u3173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u3173 {
  position:absolute;
  left:546px;
  top:0px;
  width:155px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3174 {
  position:absolute;
  left:2px;
  top:6px;
  width:151px;
  word-wrap:break-word;
}
#u3175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u3175 {
  position:absolute;
  left:701px;
  top:0px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3176 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u3177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u3177 {
  position:absolute;
  left:790px;
  top:0px;
  width:107px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3178 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  word-wrap:break-word;
}
#u3179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:40px;
}
#u3179 {
  position:absolute;
  left:0px;
  top:30px;
  width:28px;
  height:40px;
}
#u3180 {
  position:absolute;
  left:2px;
  top:12px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
}
#u3181 {
  position:absolute;
  left:28px;
  top:30px;
  width:76px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3182 {
  position:absolute;
  left:2px;
  top:11px;
  width:72px;
  word-wrap:break-word;
}
#u3183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u3183 {
  position:absolute;
  left:104px;
  top:30px;
  width:42px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3184 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  word-wrap:break-word;
}
#u3185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u3185 {
  position:absolute;
  left:146px;
  top:30px;
  width:67px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3186 {
  position:absolute;
  left:2px;
  top:11px;
  width:63px;
  word-wrap:break-word;
}
#u3187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3187 {
  position:absolute;
  left:213px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3188 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  word-wrap:break-word;
}
#u3189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u3189 {
  position:absolute;
  left:296px;
  top:30px;
  width:77px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3190 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u3191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u3191 {
  position:absolute;
  left:373px;
  top:30px;
  width:90px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3192 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u3193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3193 {
  position:absolute;
  left:463px;
  top:30px;
  width:83px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3194 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u3195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u3195 {
  position:absolute;
  left:546px;
  top:30px;
  width:155px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3196 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u3197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u3197 {
  position:absolute;
  left:701px;
  top:30px;
  width:89px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3198 {
  position:absolute;
  left:2px;
  top:11px;
  width:85px;
  word-wrap:break-word;
}
#u3199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u3199 {
  position:absolute;
  left:790px;
  top:30px;
  width:107px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3200 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u3201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:30px;
}
#u3201 {
  position:absolute;
  left:0px;
  top:70px;
  width:28px;
  height:30px;
}
#u3202 {
  position:absolute;
  left:2px;
  top:7px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u3203 {
  position:absolute;
  left:28px;
  top:70px;
  width:76px;
  height:30px;
}
#u3204 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u3205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:30px;
}
#u3205 {
  position:absolute;
  left:104px;
  top:70px;
  width:42px;
  height:30px;
}
#u3206 {
  position:absolute;
  left:2px;
  top:8px;
  width:38px;
  word-wrap:break-word;
}
#u3207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u3207 {
  position:absolute;
  left:146px;
  top:70px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3208 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u3209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3209 {
  position:absolute;
  left:213px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3210 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u3211 {
  position:absolute;
  left:296px;
  top:70px;
  width:77px;
  height:30px;
}
#u3212 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  word-wrap:break-word;
}
#u3213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u3213 {
  position:absolute;
  left:373px;
  top:70px;
  width:90px;
  height:30px;
}
#u3214 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u3215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u3215 {
  position:absolute;
  left:463px;
  top:70px;
  width:83px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3216 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u3217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u3217 {
  position:absolute;
  left:546px;
  top:70px;
  width:155px;
  height:30px;
}
#u3218 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u3219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u3219 {
  position:absolute;
  left:701px;
  top:70px;
  width:89px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3220 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u3221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u3221 {
  position:absolute;
  left:790px;
  top:70px;
  width:107px;
  height:30px;
}
#u3222 {
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223 {
  position:absolute;
  left:55px;
  top:127px;
  width:100px;
  height:16px;
}
#u3224 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3225 {
  position:absolute;
  left:851px;
  top:194px;
  width:79px;
  height:20px;
}
#u3226 {
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u3227 {
  position:absolute;
  left:55px;
  top:162px;
  width:100px;
  height:16px;
}
#u3228 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3229 {
  position:absolute;
  left:55px;
  top:198px;
  width:100px;
  height:16px;
}
#u3230 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3232 {
  position:absolute;
  left:331px;
  top:232px;
  width:10px;
  height:15px;
}
#u3233 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u3234 {
  position:absolute;
  left:533px;
  top:232px;
  width:10px;
  height:15px;
}
#u3235 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3236 {
  position:absolute;
  left:510px;
  top:234px;
  width:11px;
  height:11px;
}
#u3237 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u3238 {
  position:absolute;
  left:351px;
  top:234px;
  width:11px;
  height:11px;
}
#u3239 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3240_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u3240 {
  position:absolute;
  left:372px;
  top:234px;
  width:2px;
  height:13px;
}
#u3241 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3242_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:16px;
}
#u3242 {
  position:absolute;
  left:499px;
  top:233px;
  width:2px;
  height:13px;
}
#u3243 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3244 {
  position:absolute;
  left:391px;
  top:230px;
  width:81px;
  height:20px;
}
#u3245 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u3246 {
  position:absolute;
  left:593px;
  top:232px;
  width:10px;
  height:14px;
}
#u3247 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3248 {
  position:absolute;
  left:572px;
  top:231px;
  width:17px;
  height:16px;
}
#u3249 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
