body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:349px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963 {
  position:absolute;
  left:25px;
  top:18px;
  width:943px;
  height:349px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:166px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2965 {
  position:absolute;
  left:52px;
  top:46px;
  width:71px;
  height:20px;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2967 {
  position:absolute;
  left:133px;
  top:44px;
  width:122px;
  height:25px;
}
#u2967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2968 {
  position:absolute;
  left:52px;
  top:93px;
  width:71px;
  height:20px;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2970 {
  position:absolute;
  left:133px;
  top:93px;
  width:287px;
  height:170px;
}
#u2970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:170px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2971 {
  position:absolute;
  left:468px;
  top:49px;
  width:71px;
  height:20px;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2973 {
  position:absolute;
  left:549px;
  top:93px;
  width:300px;
  height:170px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2975 {
  position:absolute;
  left:549px;
  top:48px;
  width:90px;
  height:23px;
}
#u2976 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977 {
  position:absolute;
  left:427px;
  top:309px;
  width:140px;
  height:40px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
