body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
}
#u9094 {
  position:absolute;
  left:1090px;
  top:87px;
  width:300px;
  height:123px;
}
#u9095 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:850px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9096 {
  position:absolute;
  left:30px;
  top:30px;
  width:1050px;
  height:850px;
}
#u9097 {
  position:absolute;
  left:2px;
  top:417px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9098 {
  position:absolute;
  left:50px;
  top:40px;
  width:140px;
  height:25px;
}
#u9098_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9099 {
  position:absolute;
  left:220px;
  top:40px;
  width:120px;
  height:25px;
}
#u9099_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9100 {
  position:absolute;
  left:503px;
  top:40px;
  width:90px;
  height:25px;
}
#u9101 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u9102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9102 {
  position:absolute;
  left:50px;
  top:70px;
  width:1010px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9103 {
  position:absolute;
  left:2px;
  top:11px;
  width:1006px;
  word-wrap:break-word;
}
#u9104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u9104 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:100px;
}
#u9105 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9106 {
  position:absolute;
  left:323px;
  top:121px;
  width:57px;
  height:20px;
}
#u9107 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9108 {
  position:absolute;
  left:510px;
  top:122px;
  width:57px;
  height:20px;
}
#u9109 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9110 {
  position:absolute;
  left:163px;
  top:160px;
  width:57px;
  height:20px;
}
#u9111 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9112 {
  position:absolute;
  left:352px;
  top:40px;
  width:120px;
  height:25px;
}
#u9112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9113 {
  position:absolute;
  left:163px;
  top:120px;
  width:43px;
  height:20px;
}
#u9114 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9115 {
  position:absolute;
  left:503px;
  top:190px;
  width:100px;
  height:18px;
}
#u9116 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9117 {
  position:absolute;
  left:613px;
  top:190px;
  width:100px;
  height:18px;
}
#u9118 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u9117_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9119 {
  position:absolute;
  left:545px;
  top:216px;
  width:100px;
  height:22px;
}
#u9119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9119_input:disabled {
  color:grayText;
}
#u9120 {
  position:absolute;
  left:210px;
  top:118px;
  width:104px;
  height:25px;
}
#u9120_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9121 {
  position:absolute;
  left:386px;
  top:119px;
  width:104px;
  height:25px;
}
#u9121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9122 {
  position:absolute;
  left:576px;
  top:120px;
  width:104px;
  height:25px;
}
#u9122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9123 {
  position:absolute;
  left:460px;
  top:160px;
  width:29px;
  height:20px;
}
#u9124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9125 {
  position:absolute;
  left:230px;
  top:160px;
  width:220px;
  height:76px;
}
#u9125_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:76px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9126 {
  position:absolute;
  left:489px;
  top:158px;
  width:104px;
  height:25px;
}
#u9126_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9127 {
  position:absolute;
  left:710px;
  top:121px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9129 {
  position:absolute;
  left:850px;
  top:119px;
  width:30px;
  height:25px;
}
#u9129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9130 {
  position:absolute;
  left:750px;
  top:121px;
  width:90px;
  height:22px;
}
#u9130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9130_input:disabled {
  color:grayText;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9131 {
  position:absolute;
  left:613px;
  top:160px;
  width:29px;
  height:20px;
}
#u9132 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9133 {
  position:absolute;
  left:650px;
  top:158px;
  width:104px;
  height:25px;
}
#u9133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9134 {
  position:absolute;
  left:920px;
  top:70px;
  width:140px;
  height:40px;
}
#u9135 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u9136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9136 {
  position:absolute;
  left:40px;
  top:300px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9137 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u9138 {
  position:absolute;
  left:40px;
  top:270px;
  width:140px;
  height:25px;
}
#u9138_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9139 {
  position:absolute;
  left:367px;
  top:270px;
  width:90px;
  height:25px;
}
#u9140 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u9141 {
  position:absolute;
  left:210px;
  top:270px;
  width:130px;
  height:25px;
}
#u9141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9141_input:disabled {
  color:grayText;
}
#u9142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9142 {
  position:absolute;
  left:930px;
  top:300px;
  width:140px;
  height:40px;
}
#u9143 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u9144_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1013px;
  height:5px;
}
#u9144 {
  position:absolute;
  left:50px;
  top:249px;
  width:1010px;
  height:2px;
}
#u9145 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9146 {
  position:absolute;
  left:40px;
  top:350px;
  width:300px;
  height:25px;
}
#u9146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9147 {
  position:absolute;
  left:40px;
  top:385px;
  width:300px;
  height:25px;
}
#u9147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:81px;
}
#u9148 {
  position:absolute;
  left:40px;
  top:420px;
  width:220px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9149 {
  position:absolute;
  left:2px;
  top:31px;
  width:216px;
  word-wrap:break-word;
}
#u9150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u9150 {
  position:absolute;
  left:290px;
  top:420px;
  width:240px;
  height:80px;
}
#u9151 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u9152 {
  position:absolute;
  left:560px;
  top:420px;
  width:220px;
  height:80px;
}
#u9153 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9154 {
  position:absolute;
  left:40px;
  top:510px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9155 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u9156 {
  position:absolute;
  left:40px;
  top:570px;
  width:1035px;
  height:95px;
}
#u9157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u9157 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u9158 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u9159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u9159 {
  position:absolute;
  left:99px;
  top:0px;
  width:89px;
  height:30px;
}
#u9160 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u9161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:30px;
}
#u9161 {
  position:absolute;
  left:188px;
  top:0px;
  width:755px;
  height:30px;
}
#u9162 {
  position:absolute;
  left:2px;
  top:6px;
  width:751px;
  word-wrap:break-word;
}
#u9163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u9163 {
  position:absolute;
  left:943px;
  top:0px;
  width:87px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9164 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u9165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u9165 {
  position:absolute;
  left:0px;
  top:30px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9166 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u9167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u9167 {
  position:absolute;
  left:99px;
  top:30px;
  width:89px;
  height:30px;
}
#u9168 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u9169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:30px;
}
#u9169 {
  position:absolute;
  left:188px;
  top:30px;
  width:755px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9170 {
  position:absolute;
  left:2px;
  top:6px;
  width:751px;
  word-wrap:break-word;
}
#u9171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u9171 {
  position:absolute;
  left:943px;
  top:30px;
  width:87px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9172 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u9173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u9173 {
  position:absolute;
  left:0px;
  top:60px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9174 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u9175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u9175 {
  position:absolute;
  left:99px;
  top:60px;
  width:89px;
  height:30px;
}
#u9176 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u9177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:30px;
}
#u9177 {
  position:absolute;
  left:188px;
  top:60px;
  width:755px;
  height:30px;
}
#u9178 {
  position:absolute;
  left:2px;
  top:6px;
  width:751px;
  word-wrap:break-word;
}
#u9179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u9179 {
  position:absolute;
  left:943px;
  top:60px;
  width:87px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9180 {
  position:absolute;
  left:2px;
  top:6px;
  width:83px;
  word-wrap:break-word;
}
#u9181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9181 {
  position:absolute;
  left:460px;
  top:190px;
  width:43px;
  height:20px;
}
#u9182 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9183 {
  position:absolute;
  left:460px;
  top:217px;
  width:85px;
  height:20px;
}
#u9184 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
