body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
}
#u8629 {
  position:absolute;
  left:1090px;
  top:87px;
  width:300px;
  height:123px;
}
#u8630 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u8631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:850px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8631 {
  position:absolute;
  left:30px;
  top:30px;
  width:1050px;
  height:850px;
}
#u8632 {
  position:absolute;
  left:2px;
  top:417px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633 {
  position:absolute;
  left:50px;
  top:40px;
  width:140px;
  height:25px;
}
#u8633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8634 {
  position:absolute;
  left:220px;
  top:40px;
  width:120px;
  height:25px;
}
#u8634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8635 {
  position:absolute;
  left:503px;
  top:40px;
  width:90px;
  height:25px;
}
#u8636 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u8637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8637 {
  position:absolute;
  left:50px;
  top:70px;
  width:1010px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8638 {
  position:absolute;
  left:2px;
  top:11px;
  width:1006px;
  word-wrap:break-word;
}
#u8639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u8639 {
  position:absolute;
  left:50px;
  top:120px;
  width:100px;
  height:100px;
}
#u8640 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8641 {
  position:absolute;
  left:323px;
  top:121px;
  width:57px;
  height:20px;
}
#u8642 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8643 {
  position:absolute;
  left:510px;
  top:122px;
  width:57px;
  height:20px;
}
#u8644 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8645 {
  position:absolute;
  left:163px;
  top:160px;
  width:57px;
  height:20px;
}
#u8646 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8647 {
  position:absolute;
  left:352px;
  top:40px;
  width:120px;
  height:25px;
}
#u8647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8648 {
  position:absolute;
  left:163px;
  top:120px;
  width:43px;
  height:20px;
}
#u8649 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8650 {
  position:absolute;
  left:503px;
  top:190px;
  width:100px;
  height:18px;
}
#u8651 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8650_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8652 {
  position:absolute;
  left:613px;
  top:190px;
  width:100px;
  height:18px;
}
#u8653 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8652_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8654 {
  position:absolute;
  left:545px;
  top:216px;
  width:100px;
  height:22px;
}
#u8654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8654_input:disabled {
  color:grayText;
}
#u8655 {
  position:absolute;
  left:210px;
  top:118px;
  width:104px;
  height:25px;
}
#u8655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8656 {
  position:absolute;
  left:386px;
  top:119px;
  width:104px;
  height:25px;
}
#u8656_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8657 {
  position:absolute;
  left:576px;
  top:120px;
  width:104px;
  height:25px;
}
#u8657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8658 {
  position:absolute;
  left:460px;
  top:160px;
  width:29px;
  height:20px;
}
#u8659 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8660 {
  position:absolute;
  left:230px;
  top:160px;
  width:220px;
  height:76px;
}
#u8660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:76px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8661 {
  position:absolute;
  left:489px;
  top:158px;
  width:104px;
  height:25px;
}
#u8661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8662 {
  position:absolute;
  left:710px;
  top:121px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8663 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8664 {
  position:absolute;
  left:850px;
  top:119px;
  width:30px;
  height:25px;
}
#u8664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8665 {
  position:absolute;
  left:750px;
  top:121px;
  width:90px;
  height:22px;
}
#u8665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8665_input:disabled {
  color:grayText;
}
#u8666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8666 {
  position:absolute;
  left:613px;
  top:160px;
  width:29px;
  height:20px;
}
#u8667 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8668 {
  position:absolute;
  left:650px;
  top:158px;
  width:104px;
  height:25px;
}
#u8668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8669 {
  position:absolute;
  left:920px;
  top:70px;
  width:140px;
  height:40px;
}
#u8670 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8671 {
  position:absolute;
  left:40px;
  top:300px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8672 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u8673 {
  position:absolute;
  left:40px;
  top:270px;
  width:140px;
  height:25px;
}
#u8673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8674 {
  position:absolute;
  left:367px;
  top:270px;
  width:90px;
  height:25px;
}
#u8675 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u8676 {
  position:absolute;
  left:210px;
  top:270px;
  width:130px;
  height:25px;
}
#u8676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8676_input:disabled {
  color:grayText;
}
#u8677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8677 {
  position:absolute;
  left:930px;
  top:300px;
  width:140px;
  height:40px;
}
#u8678 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8679_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1013px;
  height:5px;
}
#u8679 {
  position:absolute;
  left:50px;
  top:249px;
  width:1010px;
  height:2px;
}
#u8680 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8681 {
  position:absolute;
  left:40px;
  top:350px;
  width:300px;
  height:25px;
}
#u8681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8682 {
  position:absolute;
  left:40px;
  top:385px;
  width:300px;
  height:25px;
}
#u8682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:81px;
}
#u8683 {
  position:absolute;
  left:40px;
  top:420px;
  width:220px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8684 {
  position:absolute;
  left:2px;
  top:31px;
  width:216px;
  word-wrap:break-word;
}
#u8685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u8685 {
  position:absolute;
  left:290px;
  top:420px;
  width:240px;
  height:80px;
}
#u8686 {
  position:absolute;
  left:2px;
  top:32px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:80px;
}
#u8687 {
  position:absolute;
  left:560px;
  top:420px;
  width:220px;
  height:80px;
}
#u8688 {
  position:absolute;
  left:2px;
  top:32px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8689 {
  position:absolute;
  left:40px;
  top:510px;
  width:1030px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u8690 {
  position:absolute;
  left:2px;
  top:11px;
  width:1026px;
  word-wrap:break-word;
}
#u8691 {
  position:absolute;
  left:40px;
  top:570px;
  width:1035px;
  height:95px;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8692 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u8694 {
  position:absolute;
  left:99px;
  top:0px;
  width:89px;
  height:30px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u8696 {
  position:absolute;
  left:188px;
  top:0px;
  width:586px;
  height:30px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:6px;
  width:582px;
  word-wrap:break-word;
}
#u8698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u8698 {
  position:absolute;
  left:774px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8699 {
  position:absolute;
  left:2px;
  top:6px;
  width:252px;
  word-wrap:break-word;
}
#u8700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8700 {
  position:absolute;
  left:0px;
  top:30px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8701 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u8702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u8702 {
  position:absolute;
  left:99px;
  top:30px;
  width:89px;
  height:30px;
}
#u8703 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u8704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u8704 {
  position:absolute;
  left:188px;
  top:30px;
  width:586px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8705 {
  position:absolute;
  left:2px;
  top:6px;
  width:582px;
  word-wrap:break-word;
}
#u8706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u8706 {
  position:absolute;
  left:774px;
  top:30px;
  width:256px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8707 {
  position:absolute;
  left:2px;
  top:6px;
  width:252px;
  word-wrap:break-word;
}
#u8708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u8708 {
  position:absolute;
  left:0px;
  top:60px;
  width:99px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8709 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u8710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u8710 {
  position:absolute;
  left:99px;
  top:60px;
  width:89px;
  height:30px;
}
#u8711 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u8712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:30px;
}
#u8712 {
  position:absolute;
  left:188px;
  top:60px;
  width:586px;
  height:30px;
}
#u8713 {
  position:absolute;
  left:2px;
  top:6px;
  width:582px;
  word-wrap:break-word;
}
#u8714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u8714 {
  position:absolute;
  left:774px;
  top:60px;
  width:256px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8715 {
  position:absolute;
  left:2px;
  top:6px;
  width:252px;
  word-wrap:break-word;
}
#u8716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8716 {
  position:absolute;
  left:460px;
  top:190px;
  width:43px;
  height:20px;
}
#u8717 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8718 {
  position:absolute;
  left:460px;
  top:217px;
  width:85px;
  height:20px;
}
#u8719 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
