body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u4061 {
  position:absolute;
  left:181px;
  top:40px;
  width:77px;
  height:29px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4063 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4065 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u4066 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
}
#u4067 {
  position:absolute;
  left:97px;
  top:72px;
  width:249px;
  height:67px;
  color:#AEAEAE;
  text-align:center;
}
#u4068 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4069 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u4071 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4074 {
  position:absolute;
  left:389px;
  top:30px;
  width:270px;
  height:160px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u4076 {
  position:absolute;
  left:488px;
  top:43px;
  width:77px;
  height:29px;
  text-align:center;
}
#u4077 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u4078 {
  position:absolute;
  left:390px;
  top:134px;
  width:270px;
  height:1px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4080 {
  position:absolute;
  left:581px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
}
#u4082 {
  position:absolute;
  left:410px;
  top:69px;
  width:249px;
  height:67px;
  color:#AEAEAE;
  text-align:center;
}
#u4083 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u4084 {
  position:absolute;
  left:448px;
  top:152px;
  width:41px;
  height:29px;
  text-align:center;
}
#u4085 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u4086 {
  position:absolute;
  left:525px;
  top:135px;
  width:1px;
  height:55px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4088 {
  position:absolute;
  left:83px;
  top:400px;
  width:67px;
  height:53px;
}
#u4089 {
  position:absolute;
  left:10px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4090 {
  position:absolute;
  left:150px;
  top:400px;
  width:876px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4091 {
  position:absolute;
  left:10px;
  top:10px;
  width:856px;
  word-wrap:break-word;
}
