body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7351 {
  position:absolute;
  left:83px;
  top:30px;
  width:270px;
  height:160px;
}
#u7352 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u7353 {
  position:absolute;
  left:181px;
  top:40px;
  width:77px;
  height:29px;
}
#u7354 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u7355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u7355 {
  position:absolute;
  left:84px;
  top:134px;
  width:270px;
  height:1px;
}
#u7356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7357 {
  position:absolute;
  left:275px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
}
#u7358 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
}
#u7359 {
  position:absolute;
  left:97px;
  top:72px;
  width:249px;
  height:67px;
  color:#AEAEAE;
  text-align:center;
}
#u7360 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u7361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7361 {
  position:absolute;
  left:142px;
  top:152px;
  width:41px;
  height:29px;
}
#u7362 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u7363 {
  position:absolute;
  left:219px;
  top:135px;
  width:1px;
  height:55px;
}
#u7364 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7366 {
  position:absolute;
  left:389px;
  top:30px;
  width:270px;
  height:160px;
}
#u7367 {
  position:absolute;
  left:2px;
  top:72px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
}
#u7368 {
  position:absolute;
  left:488px;
  top:43px;
  width:77px;
  height:29px;
  text-align:center;
}
#u7369 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u7370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u7370 {
  position:absolute;
  left:390px;
  top:134px;
  width:270px;
  height:1px;
}
#u7371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7372 {
  position:absolute;
  left:581px;
  top:152px;
  width:41px;
  height:29px;
  color:#157EFA;
  text-align:center;
}
#u7373 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:67px;
}
#u7374 {
  position:absolute;
  left:410px;
  top:69px;
  width:249px;
  height:67px;
  color:#AEAEAE;
  text-align:center;
}
#u7375 {
  position:absolute;
  left:2px;
  top:2px;
  width:245px;
  word-wrap:break-word;
}
#u7376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u7376 {
  position:absolute;
  left:448px;
  top:152px;
  width:41px;
  height:29px;
  text-align:center;
}
#u7377 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u7378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:56px;
}
#u7378 {
  position:absolute;
  left:525px;
  top:135px;
  width:1px;
  height:55px;
}
#u7379 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7380 {
  position:absolute;
  left:83px;
  top:400px;
  width:67px;
  height:53px;
}
#u7381 {
  position:absolute;
  left:10px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u7382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:876px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7382 {
  position:absolute;
  left:150px;
  top:400px;
  width:876px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7383 {
  position:absolute;
  left:10px;
  top:10px;
  width:856px;
  word-wrap:break-word;
}
