body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33 {
  position:absolute;
  left:59px;
  top:35px;
  width:756px;
  height:486px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u36 {
  position:absolute;
  left:250px;
  top:0px;
  width:250px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
}
#u38 {
  position:absolute;
  left:500px;
  top:0px;
  width:251px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:247px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:451px;
}
#u40 {
  position:absolute;
  left:0px;
  top:30px;
  width:250px;
  height:451px;
}
#u41 {
  position:absolute;
  left:2px;
  top:208px;
  width:246px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:451px;
}
#u42 {
  position:absolute;
  left:250px;
  top:30px;
  width:250px;
  height:451px;
}
#u43 {
  position:absolute;
  left:2px;
  top:144px;
  width:246px;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:451px;
}
#u44 {
  position:absolute;
  left:500px;
  top:30px;
  width:251px;
  height:451px;
}
#u45 {
  position:absolute;
  left:2px;
  top:190px;
  width:247px;
  word-wrap:break-word;
}
